
{% include 'includes/header.html' %}
{% include 'includes/sidenavbar.html' %}
{% include 'includes/navbar.html' %}
{% load static %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12"> 
                                <div class="card">
                                    <div class="card-header">
                                         <div class="page-header-title">
                                            <h4 class="m-b-10"> Dyed Fabric Outward Update</h4>
                                        </div> 
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/dashboard"><i
                                                        class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item">Dyed Fabric</a></li>
                                            <li class="breadcrumb-item"><a href="/gf-deliver">Dyed Fabric Outward </a></li>
                                        </ul>
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle btn-icon"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i
                                                                    class="feather icon-maximize"></i>
                                                                maximize</span><span style="display:none"><i
                                                                    class="feather icon-minimize"></i>
                                                                Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i
                                                                    class="feather icon-minus"></i> collapse</span><span
                                                                style="display:none"><i class="feather icon-plus"></i>
                                                                expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i
                                                                class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i
                                                                class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                      
                                        
                                    </div>


                                
                                 
                                    <div class="card">

                                        <div class="card-body row">
                                            <div class="col-sm-12">
                                            
                                                <div class="row">
                                                    <div>
                
                    
                                                        <form id="update_tm_form">
                                                            {% csrf_token %} 
                                                            <div class="row ">
                                                               
                                                                <div class="col-md-2 mt-2">
                                                                    <label class="form-label">Delivery Number</label>
                                                                    <input type="text" class="form-control" value="{{parent_stock_instance.id}}" readonly>
                                                                </div>
                                                                 <div class="col-md-2 mt-2">
                                                                     <label for="order_date" class="form-label">Delivery Date</label>
                                                                     <input class="form-control" type="date" name="delivery_date" id="delivery_date" readonly>
                                                                  </div>


                                                                <div class="col-md-2 mt-2">
                                                                    <label for="order_date" class="form-label">Price List</label>
                                                                    <input class="form-control" type="text" name="price_list" id="price_list" value="{{parent_stock_instance.price_list}}" >
                                                                </div>

                                                                <div class="col-md-2 mt-2">
                                                                    <label for="order_date" class="form-label">Remarks</label>
                                                                    <textarea class="form-control" type="text" name="remarks" id="remarks" >{{parent_stock_instance.remarks}}</textarea>
                                                                </div>
                    
                                                                
                                                                             
                                                                
                                                            </div>
                                                        </form>
                    
                                                        <form id="add_new">
                                                            {% csrf_token %}
                                                            <div class="row ">
                                                      
                                                                <div class="col-md-2 mt-3">
                                                                    <label for="bag" class="form-label">Fabric</label>
                                                                    <select id="fabric_id" name="fabric_id" class="form-control form-select single-select" onchange="LoadFabricValues()">
                                                                        <option value="">Select</option>
                                                                        {% for k in product %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>


                                                                <div class="col-md-2 mt-3"> 

                                                                    <label for="product_id" class="form-label">Count</label>
                                                                            
                                                                    <select id="count_id" name="count_id" class="form-control form-select single-select" >
                                                                        <option value="">Select</option>
                                                                        {% for k in count %}
                                                                        <option value="{{ k.id }}">{{ k.count }}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                    
                                                                        
                                                                </div>
                                                                
                                                                <div class="col-md-2 mt-3">
                                                                    <label for="per_bag" class="form-label">Gauge</label>
                                                                    <select id="gauge_id" name="gauge_id" class="form-control form-select single-select" >
                                                                        <option value="">Select</option>
                                                                        {% for k in gauge %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                </div> 
                                                            
                                                                <div class="col-md-2 mt-3 mb-3">
                                                                    <label for="quantity" class="form-label">TEX/GSM</label>
                                                                    <select id="tex_id" name="tex_id" class="form-control form-select single-select" >
                                                                        <option value="">Select</option>
                                                                        {% for k in tex %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            
                                                                <div class="col-md-2 mt-3">
                                                                    <label for="rate" class="form-label">DIA</label>
                                                                    <input type="number"  class="form-control" id="dia" name="dia"  >
                                                                </div>
                                                                
                                                                <div class="col-md-2 mt-3">
                                                                    <label for="rolls" class="form-label">Rolls</label>
                                                                    <input type="number" class="form-control" id="rolls" name="rolls" oninput="calculateValueTotal()">
                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="wt_per_roll" class="form-label">Roll Wt</label>
                                                                    <input type="number" class="form-control" id="wt_per_roll" name="wt_per_roll" oninput="calculateValueTotal()">
                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="quantity" class="form-label">Qty (kg)</label>
                                                                    <input type="number" class="form-control" id="quantity" name="quantity" readonly>
                                                                </div>
 
                                                                <div class="col-md-2 mt-3">
                                                                    <label for="rate" class="form-label">Rate</label>
                                                                    <input type="number" class="form-control" id="rate" name="rate" oninput="calculateValueTotal()">
                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="total_amount" class="form-label">Total Amount</label>
                                                                    <input type="number" step="0.01" class="form-control" id="total_amount" name="total_amount" readonly>
                                                                </div>

                                                                
                                                            
                                                                <div class="col-md-2 mt-4">
                                                                    <input type="hidden" id="edit_id" name="edit_id">
                                                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                                                    <button type="submit" id="update" class="btn btn-primary mt-3">Add +</button>


                                                                </div>
                                                            </div> 
                                                        </form>
                                                    </div>
                                                </div> 
                                           <hr>
                                                
                                                <!-- <form id="add_new"> -->
                                                    <div class="mt-2">
                                                        <div class=" table-desi">
                                                            <input type="hidden" id="tm_id" name="tm_id" value="{{parent_stock_instance.id}}">
                                                            <input type="hidden" id="tx_id" name="tx_id" value="{{material.id}}">
                                                            <table id="datatable" class="table table-striped table-bordered nowrap">
                                                                <thead>
                                                                    <tr>
                                                                        <th>id</th>
                                                                        <th>Action</th>
                                                                        <th>Product</th>
                                                                        <th>count</th>
                                                                        <th>Gauge</th>
                                                                        <th>Tex</th>
                                                                        <th>Dia</th>
                                                                        <th>Rolls</th>
                                                                        <th>Wt Per Roll</th>
                                                                        <th>Quantity</th>
                                                                        <th>Rate</th>
                                                                        <th>Amount</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                             
                                                    
                                                <div class="row">
                    
                                                    <div class="col-md-6">
                                                        
                                                    </div>
                                                    <div class="col-md-3"></div>
                                                <div class="col-md-3">
                                                    <div class=" m-b-30">
                                                        <div class="card-body">            
                                                            <table id="summaryTable" class="table table-striped table-bordered w-100">
                                                                <thead>
                                                                    <tr>
                                                                        <th colspan="2">Summary Table</th>
                                                                    </tr> 
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td> Total Quantity</td>
                                                                        <td align="end" colspan="2" id="qty_total_placeholder">0</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Sub Total</td>
                                                                        <td align="end" colspan="2" id="sub_total_placeholder">0.00</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Total Tax</td>
                                                                        <td align="end" colspan="2" id="tax_placeholder">0.00</td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td>Round off</td>
                                                                        <td align="end" colspan="2" id="round_off">0.00</td>
                                                                    </tr>
                                                                    <tr> 
                                                                        <td>Grand Total</td>
                                                                        <td style="background-color: #428bca; color: black; font-size: 21px" align="end" colspan="2" id="total_payable">0.00</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>     
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>

                                               
                                            </div> 
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}



<script>





if ("{{ parent_stock_instance.delivery_date }}" && "{{ parent_stock_instance.delivery_date }}" !== "") {
    var purchaseDate = "{{ parent_stock_instance.delivery_date }}";
    // Ensure it's in the correct format (YYYY-MM-DD)
    var formattedDate = new Date(purchaseDate).toISOString().split('T')[0];
    $('#delivery_date').val(formattedDate).trigger("change");
}



// if ("{{parent_stock_instance.supplier_id}}" && "{{parent_stock_instance.supplier_id}}" !== "") {
//     $('#supplier_id').val("{{parent_stock_instance.supplier_id}}").trigger("change");
// }


if ("{{parent_stock_instance.deliverd_to}}" && "{{parent_stock_instance.deliverd_to}}" !== "") {
    $('#deliver_id').val("{{parent_stock_instance.deliverd_to}}").trigger("change");
}



function LoadFabricValues() {
    var product_id = $('#fabric_id').val(); 
    console.log('Product-ID:', product_id); // Debugging output

    if (!product_id) {
        console.warn("No Product ID selected");
        return;
    }

    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();  // CSRF Token

    $.ajax({
        type: 'POST',
        url: '/get_fabric_program_lists/',
        data: {
            'product_id': product_id,
            'csrfmiddlewaretoken': csrfToken
        },
        dataType: 'json',
        success: function(data) {
            console.log('Received Data:', data); // Debugging output

            // Clear existing values and add default "Select" option
            $('#count_id').empty().append(''); 
            $('#gauge_id').empty().append('');
            $('#tex_id').empty().append('');
            $('#gsm').val('');  // Clear input field

            // Populate dropdowns only if data exists
            if (data.count) {
                $('#count_id').append('<option value="' + data.count.id + '">' + data.count.count + '</option>');
            }

            if (data.gauge) {
                $('#gauge_id').append('<option value="' + data.gauge.id + '">' + data.gauge.name + '</option>');
            }

            if (data.tex) {
                $('#tex_id').append('<option value="' + data.tex.id + '">' + data.tex.name + '</option>');
            }

            if (data.gsm) {
                $('#gsm').val(data.gsm.gray_gsm);  // Assigning GSM value
            }
        },
        error: function(xhr, status, error) {
            console.error('Error loading fabric details:', error);
        } 
    });
} 




// ````````````````````````````````````````````````````````````````````


var id = $('#tm_id').val();
console.log('table-id:',id);
if (id !== '' && !isNaN(id)) {  // Check if id is not empty and is a number
    var table = $('#datatable').DataTable({
        "language": {
            "mesage": "Master purchase not hold any data related to child table !"
        },
        "processing": true,
        "pageLength": 50,
        "destroy": true,
        "order": [],
        columnDefs: [
        {
            targets: [6,7], // Ensure this matches the "Amount" column index
            render: function (data, type, row) {
                return new Intl.NumberFormat('en-IN', { 
                    style: 'currency', 
                    currency: 'INR' 
                }).format(data);
            },
            className: "text-end" // Aligns currency values to the right
        }
    ],
        
        "columns": [
            { "data": "id", "title": "ID" },
            { "data": "action", "title": "Action"},
            { "data": "product", "title": " Product " },
            { "data": "count", "title": "Count" },
            { "data": "gauge", "title": "Gauge" },
            { "data": "tex", "title": "Tex" },
            { "data": "dia", "title": "Dia" },
            { "data": "rolls", "title": "Rolls" },
            { "data": "wt_per_roll", "title": "Wt Per Rolls" },
            { "data": "quantity", "title": "Quantity" ,"className": "text-end"},
            { "data": "rate", "title": "Rate" ,"className": "text-end"},
            { "data": "total_amount", "title": "Amount" ,"className": "text-end"},
          
            
        ],
        "ajax": {
            "url": '/gcf-delivery-detail-view/',
            "type": "POST",
            "data": function(data) {
                data.csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
                data.id = id;  // Use validated id
                
            },
            "dataSrc": function(json) {
                console.log("Received JSON data:", json);

                // Use json.total_quantity directly for the summary update
                updateSummary({
                    total_quantity: json.total_quantity,
                    total_amount: json.total_amount,
                    tax_total: json.tax_total,
                    round_off: json.round_off,
                    grand_total: json.grand_total
                });



            if (json.message === "error") {
                // Display error message in an alert
                showToast('error',json.error_message);
                return []; // Return an empty data array for DataTable
            }
            return json.data; // Return the data if no error
        }
        }
    });
} else {
    console.error("Invalid id:", id);
    // Handle the case where id is invalid or empty
}


function refresh_data()
{
    table.ajax.reload();
}


  
function updateSummary(data) {
    console.log("Updating summary with data:", data); // Debugging summary update

    $('#qty_total_placeholder').text(data.total_quantity || 0);
    $('#sub_total_placeholder').text(parseFloat(data.total_amount || 0).toFixed(2));
    $('#tax_placeholder').text(parseFloat(data.tax_total || 0).toFixed(2));
    $('#round_off').text(parseFloat(data.round_off || 0).toFixed(2));
    $('#total_payable').text(parseFloat(data.grand_total || 0).toFixed(2));
}







document.addEventListener("DOMContentLoaded", function () {
    // Attach event listeners for real-time calculations
    document.getElementById("bag").addEventListener("input", calculateQuantity);
    document.getElementById("per_bag").addEventListener("input", calculateQuantity);
    document.getElementById("rate").addEventListener("input", calculateAmount);
});

function calculateQuantity() {
    var bag = parseFloat(document.getElementById("bag").value) || 0;
    var perBag = parseFloat(document.getElementById("per_bag").value) || 0;
    var quantity = bag * perBag;
    document.getElementById("quantity").value = quantity;

    // Auto-update amount if rate is already entered
    calculateAmount();
}

function calculateAmount() {
    var quantity = parseFloat(document.getElementById("quantity").value) || 0;
    var rate = parseFloat(document.getElementById("rate").value) || 0;
    var amount = quantity * rate;
    document.getElementById("amount").value = amount.toFixed(2);
}







function calculateValueTotal() {
        // Get input values
        let rolls = parseFloat(document.getElementById("rolls").value) || 0;
        let wtPerRoll = parseFloat(document.getElementById("wt_per_roll").value) || 0;
        let rate = parseFloat(document.getElementById("rate").value) || 0;

        // Calculate quantity in kg
        let quantity = rolls * wtPerRoll;
        document.getElementById("quantity").value = quantity.toFixed(2); // Set with 2 decimal places

        // Calculate total amount
        let totalAmount = quantity * rate;
        document.getElementById("total_amount").value = totalAmount.toFixed(2); // Set with 2 decimal places
    }


function gcf_delivery_details_edit(id) {
    var tkn = document.getElementsByName("csrfmiddlewaretoken")[0].value;

    $.post('/gcf_delivery_details_edit/', { id: id, csrfmiddlewaretoken: tkn })
        .done(function(res) {
            if (res.error) {
                alert(res.error);  // Show an alert if no data is found
                return;
            }

            $('#tm_po_id').val(res.id);
            $('#dia').val(res.dia);
            $('#rolls').val(res.rolls);
            $('#wt_per_roll').val(res.wt_per_roll);
            $('#quantity').val(res.quantity); 
            $('#rate').val(res.rate); 
            $('#total_amount').val(res.amount);
            $('#fabric_id').val(res.product_id).trigger("change");
            $('#count_id').val(res.count_id).trigger("change");
            $('#gauge_id').val(res.gauge_id).trigger("change");
            $('#tex_id').val(res.tex_id).trigger("change");

            $('#update_flag').val('true');
            $('#update').text('Update');
        })
        .fail(function(xhr) {
            alert('Error: ' + xhr.responseText);
        });
}



function updateSummary(data) {
    console.log("Updating summary with data:", data);

    $('#qty_total_placeholder').text(data.total_quantity || 0);
    $('#sub_total_placeholder').text(parseFloat(data.total_amount || 0).toFixed(2));
    $('#tax_placeholder').text(parseFloat(data.tax_total || 0).toFixed(2));
    $('#round_off').text(parseFloat(data.round_off || 0).toFixed(2));
    $('#total_payable').text(parseFloat(data.grand_total || 0).toFixed(2));
}

$('#add_new').on('submit', function(e) {
    e.preventDefault();

    var formData = new FormData(this);
    formData.append('tm_id', $('#tm_id').val());

    $.ajax({
        url: '/add-or-update-gcf-delivery-item/', // Adjust URL as needed
        type: 'POST',
        data: formData,
        processData: false, 
        contentType: false,
        success: function(response) {
            if (response.success) {
                notifier.show(
                    'Well Done!', 
                    'Delivery details updated successfully.', 
                    'success', 
                    "{% static 'assets/images/notification/ok-48.png' %}", 
                    4000
                );
                // Refresh DataTable
                refresh_data();

                // Update Summary
                updateSummary(response);

            
            } else {
                // alert(response.error_message || 'An error occurred. Please try again.');
                notifier.show(
                    'Error!', 
                    'Failed to update po:'+response.error_message, 
                    'danger', 
                    "{% static 'assets/images/notification/high_priority-48.png' %}", 
                    4000
                );
            }
        },
        error: function(xhr, status, error) {
            console.error('Request Failed:', error); 
            // alert('Error in processing the request');
            notifier.show(
                    'Error!', 
                    'Error in processing the request.', 
                    'danger', 
                    "{% static 'assets/images/notification/high_priority-48.png' %}", 
                    4000
                );
        }
    });
});



function gcf_delivery_detail_delete(id) {
    if (confirm('Are you sure you want to delete this data?')) {
    $.ajax({
        url: "/gf-delivery-detail-delete/",
        method: "POST",
        data: {
            id: id,
            tm_id: $("#tm_id").val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType: "json",
        success: function(data) {
            if (data.message === 'yes') {
                showToast('success', ' Deleted Successfully!.');
                // alert('success');
                refresh_datas();
            } else {
                
                alert('Failed');
                }
            },
        });

    }
}


function refresh_datas() {
    if ($.fn.DataTable.isDataTable("#datatable")) { 
        $('#datatable').DataTable().ajax.reload(null, false);  // ✅ Refresh without resetting pagination
    }
}

function calculateTotal() {
    let totalQuantity = 0;
    let subTotal = 0;
    let totalTax = 0;
    let taxSummary = {}; 

    // Tax rate as a percentage
    const taxRate = 5;

    // Iterate over each row in the table to calculate totals
    $('#datatable tbody > tr').each(function() {
        // Fetch values from each cell
        const quantity = parseInt($(this).find('td:eq(3)').text()) || 0; // Quantity
        const rate = parseFloat($(this).find('td:eq(4)').text()) || 0; // Rate
        const amount = parseFloat($(this).find('td:eq(5)').text()) || 0; // Amount
       
        // Calculate tax amount as 5% of the amount
        const taxAmount = (amount * taxRate) / 100;

        // Update totals 
        totalQuantity += quantity;
        subTotal += amount;
        totalTax += taxAmount;  // Adding calculated tax to total tax

        // Update tax summary (if any tax logic is needed)
        if (taxAmount > 0) {
            if (!taxSummary[taxRate]) {
                taxSummary[taxRate] = { sgst: 0, cgst: 0, igst: 0, totalTax: 0 };
            }
            // Assuming SGST and CGST split equally for simplicity
            const sgstAmount = taxAmount / 2;
            taxSummary[taxRate].sgst += sgstAmount;
            taxSummary[taxRate].cgst += sgstAmount;
            taxSummary[taxRate].totalTax += taxAmount;
        }
    });

    // Calculate round-off value and grand total
    const totalAmount = subTotal + totalTax;
    const roundOff = totalAmount - Math.floor(totalAmount);  // Get the decimal part

    // Apply the round-off logic (if >= 0.5, round up; if < 0.5, round down)
    const adjustedRoundOff = roundOff >= 0.5 ? (1 - roundOff) : -roundOff;

    const grandTotal = (subTotal + totalTax + adjustedRoundOff).toFixed(2);  // Add adjusted round-off to grand total

    // Display totals 
    $('#qty_total_placeholder').text(totalQuantity);
    $('#sub_total_placeholder').text(subTotal.toFixed(2));
    $('#tax_placeholder').text(totalTax.toFixed(2));
    $('#round_off').text(adjustedRoundOff.toFixed(2));
    $('#total_payable').text(grandTotal);

    // Update tax summary table (if needed)
    $('#tax_summary_body').empty();
    for (const [rate, data] of Object.entries(taxSummary)) {
        $('#tax_summary_body').append(`
            <tr>
                <td>${rate}%</td>
                <td>${data.sgst.toFixed(2)}</td>
                <td>${data.cgst.toFixed(2)}</td>
                <td>${data.igst ? data.igst.toFixed(2) : '0.00'}</td>
                <td>${data.totalTax.toFixed(2)}</td>
            </tr>
        `);
    }
}




</script>
<script>


 
$('.single-select').select2();





    



    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
// });


 </script>
