
{% include 'includes/header.html' %}
{% include 'includes/sidenavbar.html' %}
{% include 'includes/navbar.html' %}
{% load static %}

<style>

    .table thead th {
        border-bottom: 1px solid #e2e5e8;
        font-size: 13px;
        color: #111;
        background: #eff3f6;
        text-transform: uppercase;
        padding: 4px;
        text-align:center;
    }


    .table body th {
    border-bottom: 1px solid #e2e5e8;
    font-size: 13px;
    color: #111;
    background: #eff3f6;
    text-transform: uppercase;
    padding: 3px;
    text-align:center;
}


.tfoot tr {

        border-bottom: 1px solid #e2e5e8;
    font-size: 13px;
    color: #111;
    background: #eff3f6;
    text-transform: uppercase;
    padding: 3px;
    text-align:center;

}

</style>
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                         <div class="page-header-title"> <!-- mill to knitting delivery -->
                                            <h4 class="m-b-10">Grey Fabric Outward   </h4>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/dashboard"><i
                                                        class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item">Grey Fabric</a></li>
                                            <li class="breadcrumb-item"><a href="/grey-fab-outward"> Grey Fabric Outward</a></li>
                                        </ul>
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle btn-icon"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i
                                                                    class="feather icon-maximize"></i>
                                                                maximize</span><span style="display:none"><i
                                                                    class="feather icon-minimize"></i>
                                                                Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i
                                                                    class="feather icon-minus"></i> collapse</span><span
                                                                style="display:none"><i class="feather icon-plus"></i>
                                                                expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i
                                                                class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i
                                                                class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                      
                                        
                                    </div>

                                     
                                    <!-- <div class="row"> 
                                        <div class="col-sm-12">
                                            <div class="card">    -->

                                    <div class="card">

                                        <div class="card-body row"> 
                                            <div class="col-sm-12"> 
                                                <form id="add_new">
                                                {% csrf_token %}
                                                <div class="row">
                                                
                                               

                                                        <div class="col-md-12">
                                                            <!-- Form Controls -->
                                                            <div class="row ">
                                                                <div class="col-md-2 mt-2">
                                                                    <label class="form-label">Outward No.</label>
                                                                    <input type="text" class="form-control" id="outward_no" name="outward_no" value="{{do_number}}" disabled>
                                                                </div>

                                                                <div class="col-md-2 mt-2">
                                                                    <label class="form-label">Outward Date</label>
                                                                    <input type="date" class="form-control" id="outward_date" name="outward_date">
                                                                </div>
                                

                                                                <div class="col-md-2 mt-2">
                                                                    <label class="form-label">Party</label>
                                                                    <select id="party_id" name="party_id" class="form-control single-select"  required>
                                                                        <option value="">Select</option> <!--  // process-->
                                                                        {% for k in party %} <!-- process -->
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %} 
                                                                    </select> 
                                                                </div>



                                                                <div class="col-md-2 mt-2">
                                                                    <label for="product_id" class="form-label"><span style="color:red">*</span> Dyeing Program</label>
                                                                    <select id="prg_id" name="prg_id" class="form-control single-select" required onchange="LoadProgramDetails()">
                                                                        <option>Select</option>
                                                                        {% for k in dyeing %}
                                                                        <option value="{{ k.id }}" data-program-id="{{ k.program_id }}">
                                                                            {{ k.program_no }} - ({{ k.name }})
                                                                        </option> 
                                                                        {% endfor %}
                                                                    </select>  

                                                                    <input type="hidden" name="program_id" id="program_id">
                                                                </div>



                                                                <div class="col-md-2 mt-2"> 
                                                                    <label for="lot" class="form-label"><span style="color: red;">*</span> Lot No.</label>
                                                                    <select class="form-control single-select" id="lot_no" name="lot_no" required   >
                                                                    <!-- <select class="form-control single-select" id="lot_no" name="lot_no" required  onchange="LoadInward()" > -->
                                                                        <option value="">Select</option>
                                                                        {% for l in lot %}
                                                                        <option value="{{l.lot_no}}">{{l.lot_no}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>


                                                                    
                                                                

                                                            </div>
                                                          
                                               
                                                   
                                                
                                                        <div class="">
                                                            <div class="table-responsive table-desi">   
                                                   

                                                                 <table id="purchaseTable" class="table table-bordered w-100">
                                                                    <thead>
                                                                        <tr>
                                                                            <th rowspan="3">Fabric</th>
                                                                            <!-- <th rowspan="3">Yarn Count</th>
                                                                            <th rowspan="3">Tex</th>
                                                                            <th rowspan="3">Gauge</th>
                                                                            <th rowspan="3">GSM</th> -->
                                                                            <th rowspan="3">Program Name</th>
                                                                            <th rowspan="3">Dia</th>

                                                                            <th colspan="2" class="text-center">Program</th>
                                                                            <th colspan="2" class="text-center">Stock</th>
                                                                            <th colspan="2" class="text-center">Already Received</th>
                                                                            <th colspan="2" class="text-center">Balance</th>
                                                                            <th colspan="3" class="text-center">Outward</th>

                                                                            <!-- Hidden Columns -->
                                                                            <th rowspan="3" style="display: none;">fabric_id</th>
                                                                            <th rowspan="3" style="display: none;">yarn count id</th> 
                                                                            <th rowspan="3" style="display: none;">tex id</th>
                                                                            <th rowspan="3" style="display: none;">gauge id</th>
                                                                            <th rowspan="3" style="display: none;">Dia id</th>
                                                                            <th rowspan="3" style="display: none;">Program id</th>

                                                                            <th rowspan="3">Action</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th rowspan="2">Roll</th>
                                                                            <th rowspan="2">Roll Wt. (kg)</th>

                                                                            <th rowspan="2">Roll</th>
                                                                            <th rowspan="2">Roll Wt. (kg)</th>

                                                                            <th rowspan="2">Roll</th>
                                                                            <th rowspan="2">Roll Wt. (kg)</th>

                                                                            <th rowspan="2">Roll</th>
                                                                            <th rowspan="2">Roll Wt. (kg)</th>

                                                                           

                                                                            <th rowspan="2">Roll</th>
                                                                            <th rowspan="2">Gross Wt. (kg)</th>
                                                                            <th rowspan="2"> Roll Wt. (kg)</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <!-- Rows will be added dynamically here -->
                                                                    </tbody>
                                                                     <tfoot>
                                                                        <tr>
                                                                            <td colspan="11" align="right" class="text-right"><p style="font-weight: bolder;">TOTAL</p></td>
                                                                            <td align="center"><span id="footer-roll-total">0</span></td>
                                                                            <td style="padding-left: 140px;"><span id="footer-gross-wt-total">0.000</span></td>
                                                                            <td colspan="4"></td>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        </div>

                                                        <div class="row mt-3"> 
                                                            
                                                            

                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                   
                                                                
                                                                    <!-- <div class="col-md-4 mt-2">
                                                                        <textarea class="form-control" placeholder="Remarks" name="remarks" id="remarks"></textarea>

                                                                    </div> -->
                                                                    
                                                                    <div class="col-md-12 mt-2" style="text-align: center;" >
                                                                        <button type="button" id="cancel" class="btn btn-danger" onclick="history.back()">Close</button>
                                                                        <!-- <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> -->
                    
                                                                        <button type="submit" id="submit" class="btn btn-primary">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            
                                                            <!-- <div class="row ms-2"> -->
                                                                
                                                                
                                                            </div>
                                                        <!-- </div> -->

                                                        
                                                        </div> 
                                                    </form>
                                                </div>



                                            </div>


                                        </div>



                                
                                 




                            </div>



                        </div>


                        <div class="card">
                                    <div class="card-body row mt-2">
                                        <div class="  col-md-12">

                                            
                                            <div class=" table-responsive table-desi">
                                                    <h6 style="text-align: center;">DYEING PROGRAM</h6>
                                               <table id="program_detail_table" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Fabric</th>
                                                            <th>Dia</th>
                                                            <th>Color</th>
                                                            <th>Roll</th>
                                                            <th>Roll Wt.(in kg)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th colspan="3" style="text-align:right">Totals:</th>
                                                            <th id="total_rolls">0.00</th>
                                                            <th id="total_quantity">0.00</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>

                                            </div> 


                                            


                                            <!-- po-deliver table -->
                                        </div>
                                        
                        
                                
                        
                                    </div>

                                </div>


                                <!-- end program table -->
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>



{% include 'includes/footer.html' %}


<script>



$('#prg_id').on('change', function () {
    // const inward_id = $(this).val(); 
    // if (!inward_id) {
        LoadProgramDetails()
        return;
    // }
})


$('#prg_id').on('change', function () {
    const programId = $(this).find('option:selected').data('program-id'); // use hyphen, not underscore
    $('#program_id').val(programId || '');
});


// ````````````````````````````````````````````````````````````````
function LoadInward() {
    const prg_id = $('#prg_id').val();

    const lot_no = $('#lot_no').val();
    const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();  // Assuming CSRF token is present

    if (prg_id) {
        $.ajax({
            url: '/get-grey-inward-lists/',  // Django view URL
            type: 'POST',
            data: {
                'prg_id': prg_id,
                'lot_no':lot_no,
                'csrfmiddlewaretoken': csrfToken
            },

            success: function(response) {
                const inwardSelect = $('#inward_id');
                inwardSelect.empty();

                inwardSelect.append('<option value="">Select</option>');
                response.inward_list.forEach(function(item) {
                    inwardSelect.append(`<option value="${item.id}">${item.inward_number} - (${item.total_gross_wt.toFixed(3)}) </option>`);
                });
            },


            error: function(xhr) {
                console.error('Failed to load inward list:', xhr.responseText);
            }
        });
    }
}






$('#lot_no').on('change', function () {
    const lot_no = $(this).val();

    if (!lot_no) {
        $("#purchaseTable tbody").empty();
        return;
    }

    const party_id = $("#party_id").val();
    const prg_id = $("#program_id").val();
    console.log('prg-id:',prg_id)
    const party = $("#party_id option:selected").text();

    $.ajax({
        type: 'POST',
        url: '/get_grey_inward_details/',
        data: { 
            // 'inward_id': JSON.stringify(inward_id),
            'party_id': party_id,
            'prg_id': prg_id,
            'lot_no': lot_no,
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
        },
    

        success: function (response) {
    const stockData = response.stock_summary || [];
    const fabricNames = response.fabric_name || [];
    const diaNames = response.dia_name || [];
    const prgNames = response.prg_name || [];

    $("#purchaseTable tbody").empty();

    if (stockData.length === 0) {
        alert('No data found for selected inward.');
        return;
    }

    stockData.forEach((item, index) => {
        console.log("Stock Item:", index, item);

        const fabricName = fabricNames.find(f => f.id === item.fabric_id)?.name || '';
        const diaName = diaNames.find(d => d.id === item.dia_id)?.name || '';
        const programName = prgNames.find(p => p.id === item.program_id)?.name || '';

        // Extract yarn-related names and IDs from item
        const yarnCountName = item.yarn_count_name || '';
        const texName = item.tex_name || '';
        const gaugeName = item.gauge_name || '';
        const gsmValue = item.gsm || '';  // If GSM is a raw value
        const yarnCountId = item.yarn_count_id || '';
        const texId = item.tex_id || '';
        const gaugeId = item.gauge_id || '';
        const diaId = item.dia_id || '';

        addRow(
            fabricName,
            yarnCountName,
            texName,
            gaugeName,
            gsmValue,
            programName,
            diaName,

            parseFloat(item.pgm_rolls),
            parseFloat(item.pgm_wt),

            parseFloat(item.stock_rolls),
            parseFloat(item.stock_wt),

            // parseFloat(item.stock_rolls),
            // parseFloat(item.stock_wt),

            parseFloat(item.tot_out_rolls),
            parseFloat(item.tot_out_wt),


            parseFloat(item.pgm_rolls) ,
            parseFloat(item.pgm_wt) ,


            parseFloat(item.out_rolls) || 0,
            parseFloat(item.out_wt) || 0,
            parseFloat(item.out_wt) || 0,

            item.id || '',
            item.fabric_id,
            item.count_id,
            item.gauge_id,
            item.tex_id,
            diaId,
               // For consistency, even if raw value
            item.inward_id,
            item.program_id,
            item.lot_no || '',
            item.lot_roll || 0,
            item.inward_roll || 0
        );
    });
},



        error: function (xhr, status, error) {
            $("#purchaseTable tbody").empty();
            console.error("Error fetching inward details:", error);
        }
    });
});






// `````````````````````````````````````````````````````````````````````````````````````````````````````````


function LoadProgramDetails() {
    const prg_id = $("#prg_id").val();
    const csrfToken = $('[name="csrfmiddlewaretoken"]').val();

    $.post('/gf-dye-prg-list/', { prg_id, csrfmiddlewaretoken: csrfToken }, function(response) {
        if (!response || !response.rows || !response.dias) {
            notifier.show(
                'Error!', 
                'Kindly Please select the dyeing program!.', 
                'danger', 
                "{% static 'assets/images/notification/high_priority-48.png' %}", 
                4000
            );
            return;
        }

        const dias = response.dias; // [ [dia_id, dia_name], ... ]
        const rows = response.rows;

        // Build thead
        let thead = `<thead>
            <tr>
                <th rowspan="2">Fabric</th>
                <th rowspan="2">Color</th>`;
        dias.forEach(([dia_id, dia_name]) => {
            thead += `<th colspan="2" style="text-align:center;">
                        ${dia_name}
                        <input type="hidden" class="dia-id" value="${dia_id}">
                      </th>`;
        });
        thead += `<th rowspan="2">Total Roll</th><th rowspan="2">Total Roll Wt</th></tr><tr>`;
        dias.forEach(() => {
            thead += `<th>Roll</th><th>Roll Wt</th>`;
        });
        thead += `</tr></thead>`;

        // Group rows by fabric
        let grouped = {};
        rows.forEach(row => {
            if (!grouped[row.fabric]) grouped[row.fabric] = [];
            grouped[row.fabric].push(row);
        });

        // Totals structure
        let diaTotals = {};
        dias.forEach(([_, dia_name]) => {
            diaTotals[dia_name] = { roll: 0, roll_wt: 0 };
        });

        let grandRollTotal = 0;
        let grandRollWtTotal = 0;

        // Build tbody
        let tbody = `<tbody>`;
        for (let fabric in grouped) {
            const fabricRows = grouped[fabric];
            fabricRows.forEach((row, index) => {
                tbody += `<tr>`;
                if (index === 0) {
                    tbody += `<td rowspan="${fabricRows.length}" style="vertical-align: middle; text-align: center;">${fabric}</td>`;
                }
                tbody += `<td>${row.color}</td>`;

                let rowRollTotal = 0;
                let rowRollWtTotal = 0;

                dias.forEach(([_, dia_name]) => {
                    const diaData = row[dia_name] || { roll: 0, roll_wt: 0 };
                    const roll = parseFloat(diaData.roll) || 0;
                    const roll_wt = parseFloat(diaData.roll_wt) || 0;

                    tbody += `<td style="text-align: center;">${roll}</td>
                              <td style="text-align: end;">${roll_wt.toFixed(3)}</td>`;

                    rowRollTotal += roll;
                    rowRollWtTotal += roll_wt;

                    diaTotals[dia_name].roll += roll;
                    diaTotals[dia_name].roll_wt += roll_wt;

                    grandRollTotal += roll;
                    grandRollWtTotal += roll_wt;
                });

                // Row-wise totals
                tbody += `<td style="text-align:center; font-weight:bold;">${rowRollTotal}</td>
                          <td style="text-align:end; font-weight:bold;">${rowRollWtTotal.toFixed(3)}</td>`;
                tbody += `</tr>`;
            });
        }
        tbody += `</tbody>`;

        // Build tfoot
        let tfoot = `<tfoot><tr>
            <th colspan="2" style="text-align:right">Totals:</th>`;
        dias.forEach(([_, dia_name]) => {
            const total = diaTotals[dia_name];
            tfoot += `<th style="text-align: center;">${total.roll}</th>
                      <th style="text-align: end;">${total.roll_wt.toFixed(3)}</th>`;
        });
        tfoot += `<th style="text-align: center;">${grandRollTotal}</th>
                  <th style="text-align: end;">${grandRollWtTotal.toFixed(3)}</th></tr></tfoot>`;

        // Populate lot dropdown
        const lotSelect = $("#lot_no");
        lotSelect.empty().append(`<option value="">Select</option>`);
        if (response.lots && response.lots.length > 0) {
            response.lots.forEach(lot => {
                lotSelect.append(`<option value="${lot}">${lot}</option>`);
            });
        } else {
            lotSelect.append(`<option value="">No lots found</option>`);
        }

        // Inject full table
        $('#program_detail_table').html(thead + tbody + tfoot);
    });
}

// ```````````````````` addrow `````````````````````````````````



const loadedItemsMap = {};



let rowCounter = 0; // Initialize row counter


function storeTblValues() {
    var TableData = [];

    $('#purchaseTable tbody tr').each(function (index) {
        // Get values from the row
        const fabric = $(this).find('td:eq(0)').text().trim();
        // const yarn_count = $(this).find('td:eq(1)').text().trim();
        // const tex = parseFloat($(this).find('td:eq(2)').text().trim()) || 0;
        // const gauge = parseFloat($(this).find('td:eq(3)').text().trim()) || 0;
        // const gsm = parseFloat($(this).find('td:eq(4)').text().trim()) || 0;
        const dia = parseFloat($(this).find('td:eq(6)').text().trim()) || 0;
        const roll = parseFloat($(this).find('td:eq(11)').find('input').val()) || 0;
        const gross_wt = parseFloat($(this).find('td:eq(12)').find('input').val()) || 0;
        const roll_wt = parseFloat($(this).find('td:eq(13)').text().trim()) || 0;

        // Hidden fields
        const fabric_id = $(this).find('.fabric_id').val() || '';
        const yarn_count_id = $(this).find('.yarn_count_id').val() || '';
        const tex_id = $(this).find('.tex_id').val() || '';
        const gauge_id = $(this).find('.gauge_id').val() || '';
        const dia_id = $(this).find('.dia_id').val() || '';
        const inward_id = $(this).find('.inward_id').val() || '';
        const program = $(this).find('.program').val() || '';
        const lot_no = $(this).find('.lot_no').val() || '';
        const party_id = $("#party_id").val() || '';
        const gsm = $("#gsm").val() || '';

        // Validate all critical fields
        const isValid = fabric_id && yarn_count_id && tex_id && gauge_id && dia_id && inward_id;

        if (!isValid) {
            console.warn(`Skipping row ${index + 1} due to missing IDs`);
            return; // Skip this row
        }

        TableData.push({
            fabric,
            roll,
            roll_wt: roll_wt.toFixed(2),
            gross_wt: gross_wt.toFixed(2),
            fabric_id,
            lot_no,
            inward_id,
            yarn_count_id,
            tex_id,
            gauge_id,
            gsm,
            dia_id,
            party_id
        });
    });

    console.log("TABLE-DATA:", TableData);
    return TableData;
}




// ``````````````````````````````` manualy clicked row to add ````````````````````````````````


function addManualRow() {
    console.log("Manual row function triggered");

    const yarn_count = $("#yarn_count_id option:selected").text();
    const yarn_countId = $("#yarn_count_id").val();
    const party_id = $("#party_id").val();

    const fabric = $("#fabric_id option:selected").text();
    const fabricId = $("#fabric_id").val();

    const gauge = $("#gauge_id option:selected").text();
    const gaugeId = $("#gauge_id").val();

    const party = $("#party_id option:selected").text();
    const partyId = $("#party_id").val();

    const tex = $("#tex_id option:selected").text();
    const texId = $("#tex_id").val();

    const dia = $("#dia_id option:selected").text();
    const diaId = $("#dia_id").val();



    const gsm = parseFloat($("#gsm").val()) || 0;
    const roll = parseFloat($("#roll").val()) || 0;
    const lot_no = $("#lot_no").val().trim();
    const roll_wt = parseFloat($("#roll_wt").val()) || 0;
    const grossWt = parseFloat($("#gross_wt").val()) || 0;
    const inwardId = $("#tm_inward_id").val() || 0;
    const id = 0;

    // Prevent adding row if required fields are empty
    // if (!yarn_countId || !fabricId  || !gaugeId || !texId || !gsm || roll <= 0 || roll_wt <= 0 || greoss_wt <= 0) {
    // if (!party_id <= 0) {
    //     notifier.show( 
    //         'Error', 
    //         'Please fill in all required fields before adding.', 
    //         'warning', 
    //         "{% static 'assets/images/notification/high_priority-48.png' %}", 
    //         4000
    //     );
    //     return;
    // }

    // Check if 'lot_no' is empty, if so, show alert
    if (!lot_no) {
        notifier.show( 
            'Error', 
            'Lot number is required.', 
            'warning', 
            "{% static 'assets/images/notification/high_priority-48.png' %}", 
            4000
        );
        return;
    }

    // Check if inward_id already exists in any of the existing rows
    const existingRows = document.querySelectorAll("#purchaseTable tbody tr");
    let inwardIdExists = false;

    existingRows.forEach(row => {
        const rowInwardId = row.querySelector(".inward_id").value;
        console.log("Checking inward_id:", rowInwardId); // Debugging to see the inward_id being checked
        if (rowInwardId == inwardId) {
            inwardIdExists = true;
        }   
    });

    // if (inwardIdExists) {
    //     notifier.show( 
    //         'Error', 
    //         'This Inward ID has already been added.', 
    //         'warning', 
    //         "{% static 'assets/images/notification/high_priority-48.png' %}", 
    //         4000
    //     );
    //     return;
    // }

    // If no duplicate found, add the row
    addRow(fabric,yarn_count,gauge,tex,gsm,dia, lot_no, roll, roll_wt, grossWt, party_id,fabricId,yarn_countId,gaugeId,texId,diaId, inwardId);
    calculateTotalValue();
}


function addRow(
    fabric, yarn_count, tex, gauge, gsm,
    prg_name, dia,
    program_roll, program_roll_wt,
    available_rolls, available_wt,
    tot_out_rolls, tot_out_wt,
    balance_roll, balance_roll_wt,
    outward_roll, outward_gross_wt,
    outward_roll_wt,
    id, fabricId, yarn_countId, gaugeId, texId, diaId,
    inwardId, program_id, lot_no, lot_roll, inward_roll
) {
    program_roll = parseFloat(program_roll) || 0;
    program_roll_wt = parseFloat(program_roll_wt) || 0;
    
    available_rolls = parseFloat(available_rolls) || 0;
    available_wt = parseFloat(available_wt) || 0;

    tot_out_roll = parseFloat(tot_out_rolls) || 0;
    tot_out_wt = parseFloat(tot_out_wt) || 0;

    balance_roll = (parseFloat(balance_roll))- (parseFloat(tot_out_rolls)) || 0;
    balance_roll_wt = (parseFloat(balance_roll_wt))- parseFloat(tot_out_wt) || 0;

    console.log('balance-roll:',balance_roll);
    console.log('balance-roll-wt:',balance_roll_wt);


    outward_roll = parseFloat(outward_roll) || 0;
    outward_gross_wt = parseFloat(outward_gross_wt) || 0; 
    outward_roll_wt = parseFloat(outward_roll_wt) || 0;

    const outward_total_wt = outward_roll_wt || (outward_roll * (program_roll_wt / program_roll || 0));

    rowCounter++;
    const rowId = `row_${rowCounter}`;
    const newRow = document.createElement("tr");
    newRow.setAttribute("data-row-id", rowId);

    newRow.innerHTML = `
         <td>
            ${fabric ? `<strong>FABRIC:</strong> ${fabric}<br>` : ''}
            ${yarn_count ? `<strong>YARN COUNT:</strong> ${yarn_count}<br>` : ''}
            ${gauge ? `<strong>GAUGE:</strong> ${gauge}<br>` : ''}
            ${tex ? `<strong>TEX:</strong> ${tex}<br>` : ''}
            ${gsm ? `<strong>GSM:</strong> ${gsm}` : ''}
        </td>
        <td>${prg_name}</td>
        <td>${dia}</td>
        <td class="prg-roll">${program_roll}</td>
        <td class="prg-roll-wt" align="end">${program_roll_wt.toFixed(3)}</td>

        <td class="inward-roll">${available_rolls}</td>
        <td class="inward-roll-wt" align="end">${available_wt.toFixed(3)}</td>

        <td class="rec-roll">
          ${tot_out_rolls}
        </td>
        <td class="rec-roll-wt" align="end">
        ${tot_out_wt.toFixed(3)}
        </td>




        <td class="balance-roll">${(balance_roll - outward_roll).toFixed(0)}</td>
        <td class="balance-roll-wt" align="end">${(balance_roll_wt - outward_total_wt).toFixed(3)}</td>

        <td>
            <input type="number" class="form-control outward-roll" value="${outward_roll.toFixed(0)}" style="border: none;width:80px" min="0" step="1">
        </td>
        <td >
            <input type="number" 
                class="form-control outward-gross-wt" 
                value="${outward_gross_wt.toFixed(3)}" 
                style="border: none; padding-left:130px;" 
                min="0.00" 
                step="0.03">
        </td>

        <td style="text-align: right;margin-end:3px;" class="outward-roll-wt">  ${outward_total_wt.toFixed(3)}   </td>

        <td style="display:none"><input type="hidden" class="fabric_id" value="${fabricId}"></td>
        <td style="display:none"><input type="hidden" class="yarn_count_id" value="${yarn_countId}"></td>
        <td style="display:none"><input type="hidden" class="tex_id" value="${texId}"></td>
        <td style="display:none"><input type="hidden" class="gauge_id" value="${gaugeId}"></td>
        <td style="display:none"><input type="hidden" class="dia_id" value="${diaId}"></td>
        <td style="display:none"><input type="hidden" class="inward_id" value="${inwardId}"></td>
        <td style="display:none"><input type="hidden" class="program" value="${program_id}"></td>
        <td style="display:none"><input type="hidden" class="lot_no" value="${lot_no}"></td>
        <td style="display:none"><input type="hidden" class="gsm" id="gsm" value="${gsm}"></td>

        <td><button class="btn btn-danger btn-xs remove-row"><i class='feather icon-trash-2'></i></button></td>
    `;

    document.querySelector("#purchaseTable tbody").appendChild(newRow);

    const outwardRollInput = newRow.querySelector(".outward-roll");
    const outwardGrossWtInput = newRow.querySelector(".outward-gross-wt");

    let lastValidRoll = outward_roll;
    let lastValidGrossWt = outward_gross_wt;

    outwardRollInput.addEventListener("input", () => {
        const newRoll = parseFloat(outwardRollInput.value) || 0;
        const avgWt = program_roll_wt / program_roll || 0; 
        // const avgWt = available_rolls / program_roll_wt || 0;
        console.log('roll-wt:',avgWt);
        const calcGrossWt = newRoll * avgWt;

        if (newRoll > available_rolls || calcGrossWt > available_wt) {

            notifier.show(
                'Error!', 
                'Not enough stock available for this roll or weight.', 
                'danger', 
                "{% static 'assets/images/notification/high_priority-48.png' %}", 
                4000
            ); 


            // alert("Not enough stock available for this roll or weight.");
            outwardRollInput.value = lastValidRoll;
            return;
        }

        lastValidRoll = newRoll;
        lastValidGrossWt = calcGrossWt;

        newRow.querySelector(".outward-roll-wt").textContent = calcGrossWt.toFixed(3);
        newRow.querySelector(".balance-roll").textContent = (balance_roll - newRoll).toFixed(2);
        newRow.querySelector(".balance-roll-wt").textContent = (balance_roll_wt - calcGrossWt).toFixed(3);

            updateFooterTotals();

    });

    outwardGrossWtInput.addEventListener("input", () => {
        const newGrossWt = parseFloat(outwardGrossWtInput.value) || 0;
                updateFooterTotals();

        if (newGrossWt > available_wt) {

            notifier.show(
                'Error!', 
                'Not enough stock available for this gross weight.', 
                'danger', 
                "{% static 'assets/images/notification/high_priority-48.png' %}", 
                4000
            ); 


            // alert("Not enough stock available for this gross weight.");
            outwardGrossWtInput.value = lastValidGrossWt;
            return;


        }

        lastValidGrossWt = newGrossWt;
    });

    // Row background highlight
    if (inward_roll === 0) {
        newRow.classList.add("bg-red");
    } else if (lot_roll !== balance_roll) {
        newRow.classList.add("bg-yellow");
    } else if (lot_roll >= inward_roll) {
        newRow.classList.add("bg-green"); 
    }

    // Remove row button
    newRow.querySelector(".remove-row").addEventListener("click", () => {
        newRow.remove();

            updateFooterTotals();

    });
}

function updateFooterTotals() {
    let totalRoll = 0;
    let totalGrossWt = 0;

    document.querySelectorAll("#purchaseTable tbody .outward-roll").forEach(input => {
        totalRoll += parseFloat(input.value) || 0;
    });

    document.querySelectorAll("#purchaseTable tbody .outward-gross-wt").forEach(input => {
        totalGrossWt += parseFloat(input.value) || 0;
    });

    document.getElementById("footer-roll-total").textContent = totalRoll.toFixed(0);
    document.getElementById("footer-gross-wt-total").textContent = totalGrossWt.toFixed(3);
}


// ``````````````````````````````````````````````````````````````````````````````````````


// ``````````````````````````````````````````````````````````````````````````````````````````````````````````````



function addRow_bk_13062025(fabric,yarn_count,gauge,tex,gsm,dia, lot_no, roll, roll_wt, grossWt, party_id,fabricId,yarn_countId,gaugeId,texId,diaId, inwardId) {
   
    // console.log('rows:',addRow);
    const tableBody = document.querySelector("#purchaseTable tbody");
    if (!tableBody) {
        console.error("Table body not found!");
        return;
    }


    //  // Prevent adding row if required fields are empty
    // if (!party_id <= 0) {
    //     notifier.show( 
    //         'Error', 
    //         'Please fill in all required fields before adding.', 
    //         'warning', 
    //         "{% static 'assets/images/notification/high_priority-48.png' %}", 
    //         4000
    //     );
    //     return;
    // }

    rowCounter++;
    const rowId = `row_${rowCounter}`;  

    const newRow = document.createElement("tr");
    newRow.setAttribute("data-product-id", fabricId);
    newRow.setAttribute("data-row-id", rowId);
    $('#lot_no').val().trim();
    newRow.innerHTML = `
        <td>${fabric}</td>
        <td>${yarn_count}</td>
        <td>${tex}</td>
        <td>${gauge}</td>
        <td>${gsm}</td>
        <td>${dia}</td>
        <td>${roll}</td>
        <td>${roll_wt.toFixed(2)}</td>
        <td>${grossWt.toFixed(2)}</td>
        
        <td style="display:none"><input type="hidden" class="party_id" value="${party_id}" /></td> 
        <td style="display:none"><input type="hidden" class="fabric_id" value="${fabricId}" /></td>
        <td style="display:none"><input type="hidden" class="yarn_count_id" value="${yarn_countId}" /></td>
        <td style="display:none"><input type="hidden" class="gauge_id" value="${gaugeId}" /></td>
        <td style="display:none"><input type="hidden" class="tex_id" value="${texId}" /></td>
        <td style="display:none"><input type="hidden" class="dia_id" value="${diaId}" /></td>
        <td style="display:none"><input type="hidden" class="inward_id" value="${inwardId}" /></td>
        <td style="display:none"><input type="hidden" class="lot_no" value='${lot_no}'></td>

        <td>
            <button class="btn btn-primary btn-xs edit-row"><i class="feather icon-edit"></i></button>
            <button class="btn btn-danger btn-xs remove-row"><i class="feather icon-trash-2"></i></button>
        </td>
    `;

    tableBody.appendChild(newRow);
    calculateTotalValue();
    resetFields();

    newRow.querySelector(".remove-row").addEventListener("click", function () {
        newRow.remove();
        calculateTotalValue();
    });

    newRow.querySelector(".edit-row").addEventListener("click", function () {
        
        // Populate input fields with the row's data for editing
        $("#yarn_count_id").val(yarn_countId).trigger('change');
        $("#fabric_id").val(fabricId).trigger('change');
        $("#gauge_id").val(gaugeId).trigger('change');
        $("#tex_id").val(texId).trigger('change');
        $("#dia_id").val(diaId).trigger('change');
        $("#lot_no").val(lot_no);
        $("#gsm").val(gsm);
        $("#roll").val(roll);
        $("#roll_wt").val(roll_wt);
        $("#gross_wt").val(grossWt);
        $("#tm_inward_id").val(inwardId);

        newRow.remove();
        
        // Change the Add button to update functionality
        $("#addButton").off("click").on("click", function () {
            updateRow(rowId, productId);
        });
    });
}



// Calculate the total of all rows 
function calculateTotalValue() {
    let totalQuantity = 0;
    let subTotal = 0;
    let totalTax = 0;
    let taxSummary = {}; 
  
    // Tax rate as a percentage
    const taxRate = 5;

    // Iterate over each row in the table to calculate totals
    $('#purchaseTable tbody > tr').each(function() {
        // Fetch values from each cell
        const quantity = parseFloat($(this).find('td:eq(6)').text()) || 0; // Quantity from input field
        const gross_wt = parseFloat($(this).find('td:eq(8)').text()) || 0; // Rate from input field
 
        // Update totals 
        totalQuantity += quantity;
        subTotal += gross_wt;


    });

    // Display totals 
    $('#qty_total_placeholder').text(totalQuantity);
    $('#sub_total_placeholder').text(subTotal.toFixed(2));

}



function resetFields() {
    $('#roll').val('');
    $('#roll_wt').val('');
    $('#gross_wt').val('');
    $('#gsm').val('');
    $('#fabric_id').val('').trigger('change'); 
    $('#tex_id').val('').trigger('change');
    $('#gauge_id').val('').trigger('change');
    $('#dia_id').val('').trigger('change');
    // $('#fabric_id').val('').trigger('change');
}






$('#add_new').on('submit', function(e) {
    e.preventDefault(); // Prevent default form submission
    console.log("Submit button clicked"); // Debugging

    var prgId = $('#prg_id').val();
    if (!prgId || prgId === "Select") {
        notifier.show(
            'Error!',
            'Please select a Knitting Program.',
            'danger',
            "{% static 'assets/images/notification/high_priority-48.png' %}",
            4000
        );
        return; // Prevent submission if Knitting Program is not selected
    }

    var TableData = storeTblValues();
    console.log('tbl-data:', TableData);

    if (TableData.length === 0) {
        notifier.show(
            'Error!', 
            'Table is empty. Please insert the program details.', 
            'danger', 
            "{% static 'assets/images/notification/high_priority-48.png' %}", 
            4000
        ); 


        return;
    }

    if (confirm("Are you sure you want to save?")) {
        TableData = JSON.stringify(TableData); 
        var mdata = new FormData(this);
        mdata.append('chemical_data', TableData);

        var do_no = $('#outward_no').val();

        mdata.append('do_number', do_no);
       

        $.ajax({
            type: "POST",  
            url: "/add-grey-outward/", 
            data: mdata,
            processData: false,
            contentType: false,
            beforeSend: function() {
                console.log("Sending AJAX request...");
                $('#submit').attr('disabled', true).text('Processing...');
            },
             success: function(data) {
                console.log("Server Response:", data);
                $('#submit').attr('disabled', false).text('Save');

                if (data.status === 'success') {
                    notifier.show( 
                        'Well Done!', 
                        data.message || 'Added Successfully!', 
                        'success', 
                        "{% static 'assets/images/notification/ok-48.png' %}", 
                        4000
                    ); 


                    $('#outward_no').val(data.do_number);
                    $('#add_new').trigger('reset');
 
                    location.href='/grey-fab-outward';
                } else {
                    notifier.show(
                        'Error!', 
                        'Failed To add', 
                        'danger', 
                        "{% static 'assets/images/notification/high_priority-48.png' %}", 
                        4000
                    ); 
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log("AJAX Error:", textStatus, errorThrown);
                notifier.show(
                        'Error!', 
                        'Error adding data', 
                        'danger', 
                        "{% static 'assets/images/notification/high_priority-48.png' %}", 
                        4000
                    ); 
                // alert('Error Adding data');
                $('#submit').attr('disabled', false).text('Save');
            }
        }); 
    }
});



$('.single-select').select2();

            // Get current date and time
    const currentDate = new Date();
    const currentDateString = currentDate.toISOString().slice(0, 10); // Format as YYYY-MM-DD
    const currentTimeString = currentDate.toTimeString().slice(0, 5); // Format as HH:MM

    // Set default values for date and time fields
    document.getElementById('outward_date').value = currentDateString;


</script>