
{% include 'includes/header.html' %}
{% include 'includes/sidenavbar.html' %}
{% include 'includes/navbar.html' %}
{% load static %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12"> 
                                <div class="card">
                                    <div class="card-header">
                                         <div class="page-header-title">
                                            <h4 class="m-b-10">Grey Fabric PO</h4>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/dashboard"><i
                                                        class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item">Grey Fabric</a></li>
                                            <li class="breadcrumb-item"><a href="/grey-fab-po">Grey Fabric PO Update </a></li>
                                        </ul>
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle btn-icon"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i
                                                                    class="feather icon-maximize"></i>
                                                                maximize</span><span style="display:none"><i
                                                                    class="feather icon-minimize"></i>
                                                                Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i
                                                                    class="feather icon-minus"></i> collapse</span><span
                                                                style="display:none"><i class="feather icon-plus"></i>
                                                                expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i
                                                                class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i
                                                                class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                      
                                        
                                    </div>


                                
                                 
                                    <div class="card">
 
                                        <div class="card-body row">
                                            <div class="col-sm-12">
                                                
                                                <div class="row">
                                                    <div class="col-md-8">
                    
                                                        {% for po in po %}
                                                        <h2>{{po.purchase_date}}</h2>
                                                        {% endfor %}
                    
                    
                                                        <form id="add_new">
                                                            
                                                            
                                                            {% csrf_token %}
                                                            <div class="row mt-4">

                                                               <div class="col-md-4 mt-2">
                                                                    <label for="po_number" class="form-label"><span style="color: red;">*</span> PO No.</label>

                                                                    <input class="form-control col-1" type="text" name="po_number" value="{{parent_stock_instance.po_number}}" id="po_number" disabled>
                                                                </div>

                                                               


    
                                                                 <div class="col-md-4 mt-2">
                                                                     <label for="order_date" class="form-label">PO Date</label>
                                                                     <input class="form-control" type="date" name="purchase_date" id="purchase_date" >
                                                                 </div>


                                                                <div class="col-md-4 mt-2">
                                                                    <label for="order_date" class="form-label"><span style="color: red;">*</span> Lot Name</label>
                                                                    <!-- <input class="form-control" type="text" name="name" id="name" required> -->
                                                                    <input class="form-control" id="fabricName" dir="ltr" style="position: relative;width: 285px; vertical-align: top; background-color: transparent;" 
                                                                        name="name" type="text" value="{{parent_stock_instance.name}}">

                                                                </div>
                                                            </div>
                                                            <div class="row">

                                                                

                                                                 <div class="col-md-4 mt-2">
                                                                    <label for="product_id" class="form-label">Party </label>
                                                                    <select id="supplier_id" name="supplier_id" class="form-control form-select single-select" >
                                                                        <option value="">Select</option>
                                                                        {% for k in mill %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>

                                                          
                                                                <div class="col-md-4 mt-2">
                                                                    <label for="prg" class="form-label">Knitting</label>
                                                                    <select id="program_id" name="program_id" class="form-control single-select" onchange="LoadProgram()">
                                                                        <option value="">Select</option>
                                                                        {% for k in knitting %}
                                                                        <option value="{{ k.id }}">{{ k.name }}  - {{ k.knitting_number }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    
                                                                </div>
                                                                <div class="col-md-4 mt-2">
                                                                    <label for="order_date" class="form-label"><span style="color: red;">*</span> Lot No.</label>
                                                                    <!-- <input class="form-control" type="text" name="name" id="name" required> -->
                                                                    <input class="form-control" id="lot_no"  name="lot_no" type="text" value="{{parent_stock_instance.lot_no}}" placeholder="lot no" required>

                                                                </div>
                                                            </div>

                                                            <div class="row">

                                                                <div class="col-md-4 mt-2">
                                                                    <label for="rate" class="form-label"> <span style="color: red;">*</span> Rate (Incl.GST)</label>
                                                                    <input type="number" class="form-control" id="price" name="price" value="{{parent_stock_instance.rate}}" oninput="validateDecimal2(this)" required>
                                                                </div>
                                                            
                                                              
                                                                <div class="col-md-4 mt-2">
                                                                    <label for="rate" class="form-label"><span style="color: red;">*</span> Discount (&#8377;)</label>
                                                                    <input type="number" class="form-control" id="discount" value="{{parent_stock_instance.discount}}" name="discount" oninput="validateDecimal2(this)" >
                                                                </div>

                                                                <div class="col-md-4 mt-2">
                                                                    <label for="rate" class="form-label"><span style="color: red;">*</span> Net Rate (Incl.GST)</label>
                                                                    <input type="number" class="form-control" id="rate" name="rate" value="{{parent_stock_instance.net_rate}}" oninput="validateDecimal2(this)" required>
                                                                </div>

                                                   
                                                                

                                                            </div> 

                                                            <div class="col-md-12 mt-4">

                                                                
                                                                <div class=" table-responsive table-desi mt-2">
                                                                    <table class="table table-bordered w-100" id="knitting_details">
                                                                        <thead>
                                                                            <tr>
                                                                                 
                                                                                <th>Item</th> 
                                                                                <th>Yarn Count</th>
                                                                                <th>Gauge</th>
                                                                                <th>Tex</th>
                                                                                <th>GSM</th>
                                                                                <th>Dia</th>
                                                                                <th>Rolls</th>
                                                                                <th>Wt. Per Roll</th>
                                                                                <th>Quantity</th>
                                                                               
                                                                            </tr> 
                                                                        </thead> 
                                                                        <tbody>
                                                                            
                                                                            
                                                                        
                                                                        </tbody> 

                                                                        <tfoot>
                                                                            <tr>
                                                                                <th colspan="6" class="text-end">Total:</th>
                                                                                <th id="total_rolls"></th>
                                                                                <th></th>
                                                                                <th id="total_quantity"></th>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </div> 


                                                                


                                                                <!-- po-deliver table -->
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2"></div>
                                                                <div class="col-md-6 mt-2 ">
                                                                    <!-- <label for="price_list" class="form-label">Remarks </label> -->
                                                                    <textarea type="text" class="form-control" name="remarks" id="remarks" rows="2">{{parent_stock_instance.remarks}}</textarea>
                                                                </div>

                                                                <div class="col-md-2 mt-2">
                                                                    <input type="hidden" id="edit_id" name="edit_id" value="{{parent_stock_instance.id}}">
                                                                    <input type="hidden" id="tm_po_id" name="tm_po_id" value="{{parent_stock_instance.id}}">
                                                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                                                    <button type="submit" id="update" class="btn btn-primary mt-3">Update</button>

                                                                </div>

                                                                
                                                            </div>

                                                        </form>
                                                    
                                                    </div> 
													
                                                    <div class="col-md-4 "  > 

                                                        <h6>Delivery Information &nbsp;                                                              
                                                            <input class="form-check-input" type="checkbox" id="is_delivery" name="is_delivery" value="1"
                                                            {% if parent_stock_instance.is_delivery %}checked{% endif %}>     
                                                        
                                                        </h6>
                                                            <div class="row" >
                                                        
                                                             
                                                                
                                                               <div class="col-md-6 ">
                                                                    <label for="knitting" class="form-label"><span style="color: red;">*</span> Party</label>
                                                                    <select id="knitting_id" name="knitting_id" class="single-select"> <!-- bleaching or dyeing -->
                                                                        <option value="company">Select</option>
                                                                        {% for k in out_party %}
                                                                        <option value="{{k.id}}">{{k.name}}</option>
                                                                        {% endfor %}
                                                                    </select> 
                                                                </div>




                                                                <div class="col-md-6 ">
                                                                    <label for="ph_email" class="form-label"><span style="color: red;">*</span> Delivery Date</label>
                                                                    <input class="form-control" id="deliver_date" name="deliver_date" type="date">
                                                                </div>



                                                                <!-- <div class="col-md-6 ">
                                                                    <label for="rate" class="form-label">DIA</label>
                                                                    <select class="form-control single-select" id="dia_id" name="dia" >
                                                                      
                                                                    </select>
                                                                </div>


                                                                <div class="col-md-6 ">
                                                                    <label for="bag" class="form-label"><span style="color: red;">*</span> Roll</label>
                                                                    <input class="form-control" id="deliver_roll" name="deliver_roll" type="number" >
                                                                </div> -->

                                                                <div class="col-md-6 ">
                                                                    <!-- <label for="per_bag" class="form-label"><span style="color: red;">*</span> Roll Wt.(kg) </label> -->
                                                                    <input type="hidden" class="form-control" id="deliver_roll_wt" name="deliver_roll_wt" >
                                                                </div>


                                                                <div class="col-md-2 mt-3"  style="text-align: end;">
                                                                    <input class="form-control" id="delivery_bag_wt" name="delivery_bag_wt" type="hidden" >
                                                                    <input class="form-control" id="delivery_amount" name="delivery_amount" type="hidden" >
                                                                    <input class="form-control" id="delivery_quantity" name="delivery_quantity" type="hidden" >
                                                                    <input type="hidden" id="tm_id" name="tm_id" value="{{parent_stock_instance.id}}">
                                                                    <input type="hidden" id="fab_id" name="fab_id" value="{{parent_stock_instance.fabric_id}}">
 

                                                                    <input type="hidden" id="program_total_wt" value="{{ program.total_quantity }}">



                                                                    <button type="button" align="center" class="btn btn-raised btn-primary mt-3 " id="deliver_update" onclick="addDeliveryRow()">+</button>
                                                                </div>

                                                            </div>
                                                            <div class="row mt-2">

                                                     

                                                                <div class="table-responsive table-hover mt-3">
                                                                    

                                                                    <!-- <table id="delivery_datatable" class="table table-striped table-bordered w-100"> -->
                                                                    <table id="delivery_datatable" class="table table-striped table-bordered nowrap w-100">

                                                                        <thead>
                                                                            <tr>
                                                                                <!-- <th>id</th> -->
                                                                                <th>Action</th> 
                                                                                <th>Knitting</th>
                                                                                <th>Delivery Date</th>
                                                                                <!-- <th>Dia</th> -->
                                                                                <!-- <th>Roll</th> -->
                                                                                <!-- <th>Roll Wt.</th> -->
                                                                                <!-- <th>Amount</th> -->
                                                                                
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <!-- Rows will be dynamically added here -->
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <!-- end delivery -->

                                                    </div>

                                                </div> 

                                                <hr>
                                                
                                               
                                            </div> 
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'includes/footer.html' %}


<script>

    
// typeaheadcall footer js

document.addEventListener('DOMContentLoaded', function () {
    const actualRateField = document.getElementById('price');
    const discountField = document.getElementById('discount');
    const rateField = document.getElementById('rate');
    const quantityField = document.getElementById('quantity');
    const bagField = document.getElementById('roll');
    const perBagField = document.getElementById('roll_wt');
    const grossWtField = document.getElementById('gross_wt'); 
    // const amountField = document.getElementById('amount');

    function calculateQuantity() {
        const bag = parseFloat(bagField.value) || 0;
        const perBag = parseFloat(perBagField.value) || 0;
        const quantity = bag * perBag;

        quantityField.value = quantity.toFixed(2);
        calculateRateAndAmount();
    }

    function calculateRateAndAmount() {
        const actualRate = parseFloat(actualRateField.value) || 0;
        const discount = parseFloat(discountField.value) || 0;

        // Discount is now considered in rupees, not percentage
        const discountedRate = actualRate - discount;
        rateField.value = discountedRate.toFixed(2);

        const quantity = parseFloat(quantityField.value) || 0;
        const grossWt = parseFloat(grossWtField?.value) || 0;
        let amount = 0;

        if (quantity > 0) {
            amount = discountedRate * quantity;
        } else if (grossWt > 0) {
            amount = discountedRate * grossWt;
        }

        amountField.value = amount.toFixed(2);
    }

    actualRateField.addEventListener('input', calculateRateAndAmount);
    discountField.addEventListener('input', calculateRateAndAmount);
    bagField.addEventListener('input', calculateQuantity);
    perBagField.addEventListener('input', calculateQuantity);
});

    
// ```````````````````` delivery part ``````````````````````````
    $(document).ready(function () {
        function toggleFields() {
            const isChecked = $('#is_delivery').is(':checked');
            $('#knitting, #deliver_date, #deliver_bags, #deliver_per_bag').prop('disabled', !isChecked);
        }

        // Run on page load
        toggleFields();

        // Run on checkbox change
        $('#is_delivery').change(function () {
            toggleFields();
        });
    });


// ````````````````````````````````````````````````````````````````

    function updateDeliverPerBag(input) {
        const value = input.value;
        document.getElementById('deliver_per_bag').value = value;
    }
    





var id = $('#tm_id').val();
if (id !== '' && !isNaN(id)) {  // Check if id is not empty and is a number
    var table = $('#delivery_datatable').DataTable({
        "language": {
            "mesage": "Master purchase not hold any data related to child table !"
        },
        "processing": true,
        "pageLength": 10, 
        "destroy": true,
        "order": [], 
        
        "columns": [
            { "data": "action", "title": "Action"},  
            { "data": "knitting", "title": "Knitting" },
            { "data": "delivery_date", "title": "Deliver Date" ,"className":"text-center"},
            // { "data": "dia", "title": "Dia" },
            // { "data": "roll", "title": "Roll" },
            // <!-- { "data": "roll_wt", "title": "Roll Wt." }, -->
        ],
        "ajax": {
            "url": '/gfpo-delivery/',
            "type": "POST",
            "data": function(data) {
                data.csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
                data.id = id;  // Use validated id
                
            },
        
        }
    });
} else {
    console.error("Invalid id:", id);
    // Handle the case where id is invalid or empty
}


if ("{{ parent_stock_instance.po_date }}" && "{{ parent_stock_instance.po_date }}" !== "") {
    var purchaseDate = "{{ parent_stock_instance.po_date }}";
    // Ensure it's in the correct format (YYYY-MM-DD)
    var formattedDate = new Date(purchaseDate).toISOString().split('T')[0];
    $('#purchase_date').val(formattedDate).trigger("change");
}
 
if ("{{ parent_stock_instance.delivery_date }}" && "{{ parent_stock_instance.delivery_date }}" !== "") {
    var purchaseDate = "{{ parent_stock_instance.delivery_date }}";
    // Ensure it's in the correct format (YYYY-MM-DD)
    var formattedDate = new Date(purchaseDate).toISOString().split('T')[0];
    $('#delivery_date').val(formattedDate).trigger("change");
}



if ("{{parent_stock_instance.party_id}}" && "{{parent_stock_instance.party_id}}" !== "") {
    $('#supplier_id').val("{{parent_stock_instance.party_id}}").trigger("change");
}



if ("{{parent_stock_instance.program_id}}" && "{{parent_stock_instance.program_id}}" !== "") {
    $('#program_id').val("{{parent_stock_instance.program_id}}").trigger("change");
}



function LoadProgram() {
    let prg_id = $("#program_id").val();

    if ($.fn.DataTable.isDataTable('#knitting_details')) {
        $('#knitting_details').DataTable().destroy();
    }

    $('#knitting_details').DataTable({
        "processing": true,
        "pageLength": 50,
        "destroy": true,
        "order": [],
        "ajax": {
            "url": '/knit-prg-list/',
            "type": "POST",
            "data": function (data) {
                data.csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
                data.prg_id = prg_id;
            },
            "dataSrc": function (json) {
                if (json.message === 'error') {
                    console.log('Access denied');
                    return [];
                }

                // Group rows by fabric_id_raw
                let grouped = {};
                json.data.forEach((row, index) => {
                    const key = row.fabric_id_raw;
                    if (!grouped[key]) {
                        grouped[key] = { count: 0, indexes: [] };
                    }
                    grouped[key].count += 1;
                    grouped[key].indexes.push(index);
                });

                // Annotate each row with rowspan and first-row flags
                json.data.forEach((row, index) => {
                    const key = row.fabric_id_raw;
                    row._rowspan = grouped[key].count;
                    row._rowGroupFirst = (grouped[key].indexes[0] === index);
                });

                return json.data;
            }
        },
        "columns": [
            {
                "data": null,
                "title": "Item",
                "render": function (data, type, row) {
                    if (!row._rowGroupFirst) return '';
                    return `
                        <div>
                            <strong>FABRIC:</strong> ${row.fabric_id}<br>
                            <strong>YARN:</strong> ${row.count}<br>
                            <strong>TEX:</strong> ${row.tex}<br>
                            <strong>GAUGE:</strong> ${row.gauge}<br>
                            <strong>GSM:</strong> ${row.gsm}
                        </div>
                    `;
                }
            },
            { "data": "count", "title": "Yarn count", visible: false },
            { "data": "gauge", "title": "Gauge", visible: false },
            { "data": "tex", "title": "Tex", visible: false },
            { "data": "gsm", "title": "GSM", visible: false },
            { "data": "dia", "title": "Dia" },
            { "data": "rolls", "title": "Rolls" },
            { "data": "wt_per_roll", "title": "Wt. Per Roll" },
            { "data": "quantity", "title": "Quantity" },
            { "data": "fabric_id_raw", visible: false },
            { "data": "count_id_raw", visible: false },
            { "data": "gauge_id_raw", visible: false },
            { "data": "tex_id_raw", visible: false },
            { "data": "dia_id_raw", visible: false }
        ],
        "createdRow": function (row, data, dataIndex) {
            if (data._rowGroupFirst) {
                $('td', row).eq(0).attr('rowspan', data._rowspan);
            } else {
                $('td', row).eq(0).remove(); // remove duplicate cell
            }
        },
        "footerCallback": function (row, data, start, end, display) {
            var api = this.api();

            var intVal = function (i) {
                return typeof i === 'string' ?
                    parseFloat(i.replace(/[,]/g, '')) || 0 :
                    typeof i === 'number' ?
                        i : 0;
            };

            var totalRolls = api.column(6, { page: 'current' }).data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            var totalQty = api.column(8, { page: 'current' }).data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            $('#total_rolls').html(totalRolls.toFixed(2));
            $('#total_quantity').html(totalQty.toFixed(2));
        }
    });
}

function LoadProgram_test_7625() {
    let prg_id = $("#program_id").val();

    // Check if the table is already initialized
    if ($.fn.DataTable.isDataTable('#knitting_details')) {
        $('#knitting_details').DataTable().destroy();  // Destroy old instance
    }

    $('#knitting_details').DataTable({
        "processing": true,
        "pageLength": 50,
        "destroy": true, // Allow reinitialization
        "order": [],
        "ajax": {
            "url": '/grey-fab-po-program-report/',
            "type": "POST",
            "data": function (data) {
                data.csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
                data.prg_id = prg_id;
            },
            "dataSrc": function (json) {
                if (json.message === 'error') {
                    console.log('Access denied');
                    return [];
                }
                console.log(json);
                return json.data;
            }
        },
        "columns": [
            { "data": "fabric_id", "title": "Item" },
            { "data": "count", "title": "Yarn count" },
            { "data": "gauge", "title": "Gauge" },
            { "data": "tex", "title": "Tex" },
            { "data": "gsm", "title": "GSM" },
            { "data": "dia", "title": "Dia" },
            { "data": "rolls", "title": "Rolls" },
            { "data": "wt_per_roll", "title": "Wt. Per Roll" },
            { "data": "quantity", "title": "Quantity" },

            // Raw ID columns (can be hidden)
            // { data: 'gsm', visible: false },
            { data: 'fabric_id_raw', visible: false },
            { data: 'count_id_raw', visible: false },
            { data: 'gauge_id_raw', visible: false },
            { data: 'tex_id_raw', visible: false },
            { data: 'dia_id_raw', visible: false }
            // { "data": "rate", "title": "Rate" },
            // { "data": "total_amount", "title": "Total Amount" }
        ],
        
        "footerCallback": function (row, data, start, end, display) {
            var api = this.api();

            // Helper to get column total
            var intVal = function (i) {
                return typeof i === 'string' ?
                    parseFloat(i.replace(/[,]/g, '')) || 0 :
                    typeof i === 'number' ?
                        i : 0;
            };

            // Sum rolls (column 7)
            var totalRolls = api.column(6, { page: 'current' }).data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            // Sum quantity (column 9)
            var totalQty = api.column(8, { page: 'current' }).data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            // Update footer
            $('#total_rolls').html(totalRolls.toFixed(2));
            $('#total_quantity').html(totalQty.toFixed(2));
        },
    });
}



// ```````````````````````````````end load program details `````````````````````````



if ("{{parent_stock_instance.fabric_id}}" && "{{parent_stock_instance.fabric_id}}" !== "") {
    $('#fabric_id').val("{{parent_stock_instance.fabric_id}}").trigger("change");
}

if ("{{parent_stock_instance.yarn_count_id}}" && "{{parent_stock_instance.yarn_count_id}}" !== "") {
    $('#yarn_count_id').val("{{parent_stock_instance.yarn_count_id}}").trigger("change");
}

if ("{{parent_stock_instance.gauge_id}}" && "{{parent_stock_instance.gauge_id}}" !== "") {
    $('#gauge_id').val("{{parent_stock_instance.gauge_id}}").trigger("change");
}

if ("{{parent_stock_instance.tex_id}}" && "{{parent_stock_instance.tex_id}}" !== "") {
    $('#tex_id').val("{{parent_stock_instance.tex_id}}").trigger("change");
}






if ("{{parent_stock_instance.knitting_id}}" && "{{parent_stock_instance.knitting_id}}" !== "") {
    $('#k_party_id').val("{{parent_stock_instance.knitting_id}}").trigger("change");
}


if ("{{material_instance.yarn_count_id}}" && "{{material_instance.yarn_count_id}}" !== "") {
    $('#product_id').val("{{material_instance.yarn_count_id}}").trigger("change");
}



function getCurrentTotalRollWeight() {
    let total = 0;
    $('#knitting_details tbody tr').each(function () {
        let roll = parseFloat($(this).find('td:eq(6)').text()) || 0;      // rolls column
        let wt_per_roll = parseFloat($(this).find('td:eq(7)').text()) || 0; // wt_per_roll column
        total += roll * wt_per_roll;
    });
    return total;
}

function addDeliveryRow() {
    const tm_id = $('#tm_id').val();
    const knitting = $('#knitting_id');
    const knittingValue = knitting.val();
    const deliver_date = $('#deliver_date').val();
    // const fabric_id = $('#fabric_id').val();
    // const dia_id = $('#dia_id').val();

    // const roll = parseFloat($('#deliver_roll').val());
    const roll_wt = parseFloat($('#deliver_roll_wt').val());
    const program_total_wt = parseFloat($('#program_total_wt').val());

    // if (!roll || roll <= 0) {
    //     notifier.show(
    //         'Error!',
    //         'Enter a valid roll count.',
    //         'danger',
    //         "{% static 'assets/images/notification/high_priority-48.png' %}",
    //         4000
    //     );
    //     return;
    // }

    // <!-- if (!roll_wt || roll_wt <= 0) { -->
    //     <!-- notifier.show( -->
    //         <!-- 'Error!', -->
    //         <!-- 'Enter a valid roll weight.', -->
    //         <!-- 'danger', -->
    //         <!-- "{% static 'assets/images/notification/high_priority-48.png' %}", -->
    //         <!-- 4000 -->
    //     <!-- ); -->
    //     <!-- return; -->
    // <!-- } -->

    const currentWeight = getCurrentTotalRollWeight();
    const newWeight =  roll_wt;
    const totalWeightAfterAdd = currentWeight + newWeight;

    if (totalWeightAfterAdd > program_total_wt) {
        notifier.show(
            'Error!',
            `Total roll weight (${totalWeightAfterAdd.toFixed(2)}) exceeds allowed program weight (${program_total_wt}).`,
            'danger',
            "{% static 'assets/images/notification/high_priority-48.png' %}",
            4000
        );
        return;
    }

    // All validations passed, proceed with saving
    $.ajax({
        url: '/add-grey-fab-deliver/',
        method: 'POST',
        headers: { 'X-CSRFToken': getCSRFToken() },
        contentType: 'application/json',
        data: JSON.stringify({
            tm_id: tm_id,
            // fabric_id: fabric_id,
            knitting_id: knittingValue,
            deliver_date: deliver_date,
            // dia_id: dia_id,
            // roll: roll,
            roll_wt: roll_wt
        }),
        success: function(response) {
            if (response.success) {
                refresh_data();
                location.reload();
            } else {
                notifier.show(
                    'Error!',
                    response.message || 'Something went wrong while saving to server.',
                    'danger',
                    "{% static 'assets/images/notification/high_priority-48.png' %}",
                    4000
                );
            }
        }
    });
}

// function addDeliveryRow() {
//     const tm_id = $('#tm_id').val();
//     const knitting = $('#knitting');
//     const roll_wt = parseFloat($('#deliver_roll_wt').val());

//     const knittingText = knitting.find('option:selected').text();
//     const knittingValue = knitting.val();
//     const deliver_date = $('#deliver_date').val();


//     if (!roll || roll <= 0) {
//         // alert("Enter a valid bag count");
//         notifier.show(
//             'Error!', 
//             `Enter a valid rollwt `, 
//             'danger', 
//             "{% static 'assets/images/notification/high_priority-48.png' %}", 
//             4000
//         );
//         return;
//     }



//     var qty= getCurrentTotalBags();
//     $.get(`/get-allowed-dia_rolls/`, { tm_id: tm_id, knitting_id: knittingValue }, function(data) {
//         const allowedRolls = data.allowed_rolls;
//         const currentTableBags = getCurrentTotalBags();

//         const remainingBags = allowedRolls - currentTableBags;
//         if (roll > remainingBags) {
//             notifier.show(
//                 'Error!', 
//                 `Only ${remainingBags} rolls can be added. You're exceeding the allowed limit.`, 
//                 'danger', 
//                 "{% static 'assets/images/notification/high_priority-48.png' %}", 
//                 4000
//             );
//             return;
//         }

//         // if (roll_wt > remainingBags) {
//         //     notifier.show(
//         //         'Error!', 
//         //         `Only ${remainingBags} bags can be added. You're exceeding the allowed limit.`, 
//         //         'danger', 
//         //         "{% static 'assets/images/notification/high_priority-48.png' %}", 
//         //         4000
//         //     );
//         //     return;
//         // }

//         // Proceed with delivery
//         $.ajax({
//             url: '/add-grey-fab-deliver/',
//             method: 'POST',
//             headers: { 'X-CSRFToken': getCSRFToken() },
//             contentType: 'application/json',
//             data: JSON.stringify({
//                 tm_id: tm_id,
//                 fabric_id:fabric_id,
//                 knitting_id: knittingValue,
//                 deliver_date: deliver_date,
//                 dia_id: dia_id,
//                 roll: roll,
//                 roll_wt: roll_wt,
//                 // rate: rate,
//                 // discount: discount
//             }),
//             success: function(response) {
//                 // if (response.success) {
//                 //     refresh_data();
//                 //     location.reload();
//                 // } else {

//                 if (response.success) {
//                     refresh_data();
//                     location.reload();
//                 } else {
//                     notifier.show(
//                         'Error!',
//                         response.message || 'Something went wrong while saving to server.',
//                         'danger',
//                         "{% static 'assets/images/notification/high_priority-48.png' %}",
//                         4000
//                     );
//                 }

//                     // alert("Something went wrong while saving to server.");
//                 // }
//             }
//         });
//     });


// }

// function getCurrentTotalBags() {
//     let total = 0;
//     const rows = document.querySelectorAll("#delivery_datatable tbody tr");
//     rows.forEach(row => {
//         const rollInput = row.querySelector("input[name='delivery_roll[]']");
//         if (rollInput) {
//             const rollValue = parseInt(rollInput.value);
//             total += isNaN(rollValue) ? 0 : rollValue;
//         }
//     });
//     return total;
// }

// Helper to get CSRF token from cookie
function getCSRFToken() {
    const name = "csrftoken";
    const cookies = document.cookie.split(';');
    for (let cookie of cookies) {
        const [key, value] = cookie.trim().split('=');
        if (key === name) return value;
    }
    return '';
}





var id = $('#tm_id').val();
if (id !== '' && !isNaN(id)) {  // Check if id is not empty and is a number
    var table = $('#datatable').DataTable({
        "language": {
            "mesage": "Master purchase not hold any data related to child table !"
        },
        "processing": true,
        "pageLength": 50,
        "destroy": true,
        "order": [],
        columnDefs: [
        {
            targets: [6,7], // Ensure this matches the "Amount" column index
            render: function (data, type, row) {
                return new Intl.NumberFormat('en-IN', { 
                    style: 'currency', 
                    currency: 'INR' 
                }).format(data);
            },
            className: "text-end" // Aligns currency values to the right
        }
    ],
        
        "columns": [
            { "data": "id", "title": "ID" },
            { "data": "action", "title": "Action"}, 
            { "data": "product", "title": " Yarn Count " },
            { "data": "bag", "title": "Bags" },
            { "data": "per_bag", "title": "per bag Wt" },
            { "data": "quantity", "title": "Quantity (kg)" },
            { "data": "rate", "title": "Rate" ,"className": "text-end"},
            { "data": "amount", "title": "Amount" ,"className": "text-end"},
          
            
        ],
        "ajax": {
            "url": '/update_po_lists/',
            "type": "POST",
            "data": function(data) {
                data.csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
                data.id = id;  // Use validated id
                
            },
            "dataSrc": function(json) {
                console.log("Received JSON data:", json);

                // Use json.total_quantity directly for the summary update
                updateSummary({
                    total_quantity: json.total_quantity,
                    total_amount: json.total_amount,
                    tax_total: json.tax_total,
                    round_off: json.round_off,
                    grand_total: json.grand_total
                });



            if (json.message === "error") {
                // Display error message in an alert 
                showToast('error',json.error_message);
                return []; // Return an empty data array for DataTable
            }
            return json.data; // Return the data if no error
        }
        }
    });
} else {
    console.error("Invalid id:", id);
    // Handle the case where id is invalid or empty
}

 
function updateSummary(data) {
    //console.log("Updating summary with data:", data); // Debugging summary update

    $('#qty_total_placeholder').text(data.total_quantity || 0);
    $('#sub_total_placeholder').text(parseFloat(data.total_amount || 0).toFixed(2));
    $('#tax_placeholder').text(parseFloat(data.tax_total || 0).toFixed(2));
    $('#round_off').text(parseFloat(data.round_off || 0).toFixed(2));
    $('#total_payable').text(parseFloat(data.grand_total || 0).toFixed(2));
}




function refresh_data()
{
    table.ajax.reload();
}



// document.addEventListener("DOMContentLoaded", function () {
//     // Attach event listeners for real-time calculations
//     document.getElementById("bag").addEventListener("input", calculateQuantity);
//     document.getElementById("per_bag").addEventListener("input", calculateQuantity);
//     document.getElementById("rate").addEventListener("input", calculateAmount);
//     document.getElementById("discount").addEventListener("input", calculateAmount);
// });

// function calculateQuantity() {
//     var bag = parseFloat(document.getElementById("bag").value) || 0;
//     var perBag = parseFloat(document.getElementById("per_bag").value) || 0;
//     var quantity = bag * perBag;

//     document.getElementById("quantity").value = quantity;

//     // Update amount based on new quantity
//     calculateAmount();
// }

// function calculateAmount() {
//     var quantity = parseFloat(document.getElementById("quantity").value) || 0;
//     var rate = parseFloat(document.getElementById("rate").value) || 0;
//     var discount = parseFloat(document.getElementById("discount").value) || 0;

//     var discountedRate = rate - discount;
//     var amount = quantity * discountedRate;

//     document.getElementById("amount").value = amount.toFixed(2);
// }



function po_detail_edit(id) {
    var tkn = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    $.post('/edit-grey-fab-po/', { id: id, csrfmiddlewaretoken: tkn }, function(res) {
        // $('#tm_po_id').val(res.tm_po_id); // Populate tm_id with the item's id
        $('#dia_id').val(res.dia_id).trigger('change');
        $('#deliver_date').val(res.delivery_date);
        $('#deliver_roll_wt').val(res.roll_wt);
        $('#deliver_roll').val(res.roll);

        $('#knitting_id').val(res.party_id).trigger("change");    

        // Set the update flag to true to indicate we are editing
        // $('#update_flag').val('true');

        // Optionally show a message or change button text
        $('#deliver_update').text('Update'); // Change button text to 'Update' for clarity
    });
}




function updateSummary(data) {
    console.log("Updating summary with data:", data);

    $('#qty_total_placeholder').text(data.total_quantity || 0);
    $('#sub_total_placeholder').text(parseFloat(data.total_amount || 0).toFixed(2));
    $('#tax_placeholder').text(parseFloat(data.tax_total || 0).toFixed(2));
    $('#round_off').text(parseFloat(data.round_off || 0).toFixed(2));
    $('#total_payable').text(parseFloat(data.grand_total || 0).toFixed(2));
}

$('#add_new').on('submit', function(e) {
    e.preventDefault();

    var formData = new FormData(this);
    formData.append('tm_id', $('#tm_po_id').val());

    $.ajax({
        url: '/grey-fab-po-update/', // Adjust URL as needed
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
            if (response.success) {
                notifier.show(
                    'Well Done!', 
                    'PO updated successfully.', 
                    'success', 
                    "{% static 'assets/images/notification/ok-48.png' %}", 
                    4000
                );
                // Refresh DataTable
                refresh_data();
                

                // Update Summary
                updateSummary(response);

                // Clear Form Fields
                $('#fabric_id').val('').trigger("change");
                $('#roll').val('');
                $('#roll_wt').val('');
                $('#party_id').val('').trigger("change");
                $('#program_id').val('').trigger("change");
                $('#k_party_id').val('').trigger("change");
                $('#update_flag').val('false');
                $('#update').text('Add');
            } else {
                // alert(response.error_message || 'An error occurred. Please try again.');
                notifier.show(
                    'Error!', 
                    'Failed to update po:'+response.error_message, 
                    'danger', 
                    "{% static 'assets/images/notification/high_priority-48.png' %}", 
                    4000
                );
            }
        },
        error: function(xhr, status, error) {
            console.error('Request Failed:', error); 
            // alert('Error in processing the request');
            notifier.show(
                'Error!', 
                'Error in processing the request.', 
                'danger', 
                "{% static 'assets/images/notification/high_priority-48.png' %}", 
                4000
            );
        }
    });
});



function purchase_order_detail_delete (id) {
    if (confirm('Are you sure you want to delete this data?')) {
    $.ajax({
        url: "/gfpo-delivery-delete/",
        method: "POST",
        data: {
            id: id,
            tm_id: $("#tm_id").val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType: "json",
        success: function(data) {
            if (data.message === 'yes') {
                showToast('success', 'Purchase Order Deleted!.');
                // alert('success');
                refresh_data();
            } else {
                notifier.show(
                    'Error!', 
                    // 'Failed To delete , Try again later!', 
                    data.message || 'Failed to delete PO.', 

                    'danger', 
                    "{% static 'assets/images/notification/high_priority-48.png' %}", 
                    4000
                );
                // alert('Failed');
                }
            },
        });

    }
}



document.addEventListener("DOMContentLoaded", function () {
    // Attach event listeners for real-time calculations
    document.getElementById("roll").addEventListener("input", calculateQuantity);
    document.getElementById("roll_wt").addEventListener("input", calculateQuantity);
});

function calculateQuantity() {
    var roll = parseFloat(document.getElementById("roll").value) || 0;
    var roll_wt = parseFloat(document.getElementById("roll_wt").value) || 0;
    var quantity = roll * roll_wt;

    document.getElementById("quantity").value = quantity;

    // Update amount based on new quantity
    // calculateAmount();
}

// function calculateAmount() {
//     var quantity = parseFloat(document.getElementById("quantity").value) || 0;
//     var rate = parseFloat(document.getElementById("rate").value) || 0;
//     var discount = parseFloat(document.getElementById("discount").value) || 0;

//     var discountedRate = rate - discount;
//     var amount = quantity * discountedRate;

//     document.getElementById("amount").value = amount.toFixed(2);
// }



function calculateTotal() {
    let totalQuantity = 0;
    let subTotal = 0;
    let totalTax = 0;
    let taxSummary = {}; 

    // Tax rate as a percentage
    const taxRate = 5;

    // Iterate over each row in the table to calculate totals
    $('#datatable tbody > tr').each(function() {
        // Fetch values from each cell
        const quantity = parseInt($(this).find('td:eq(3)').text()) || 0; // Quantity
        const rate = parseFloat($(this).find('td:eq(4)').text()) || 0; // Rate
        const amount = parseFloat($(this).find('td:eq(5)').text()) || 0; // Amount
       
        // Calculate tax amount as 5% of the amount
        const taxAmount = (amount * taxRate) / 100;

        // Update totals 
        totalQuantity += quantity;
        subTotal += amount;
        totalTax += taxAmount;  // Adding calculated tax to total tax

        // Update tax summary (if any tax logic is needed)
        if (taxAmount > 0) {
            if (!taxSummary[taxRate]) {
                taxSummary[taxRate] = { sgst: 0, cgst: 0, igst: 0, totalTax: 0 };
            }
            // Assuming SGST and CGST split equally for simplicity
            const sgstAmount = taxAmount / 2;
            taxSummary[taxRate].sgst += sgstAmount;
            taxSummary[taxRate].cgst += sgstAmount;
            taxSummary[taxRate].totalTax += taxAmount;
        }
    });

    // Calculate round-off value and grand total
    const totalAmount = subTotal + totalTax;
    const roundOff = totalAmount - Math.floor(totalAmount);  // Get the decimal part

    // Apply the round-off logic (if >= 0.5, round up; if < 0.5, round down)
    const adjustedRoundOff = roundOff >= 0.5 ? (1 - roundOff) : -roundOff;

    const grandTotal = (subTotal + totalTax + adjustedRoundOff).toFixed(2);  // Add adjusted round-off to grand total

    // Display totals 
    $('#qty_total_placeholder').text(totalQuantity);
    $('#sub_total_placeholder').text(subTotal.toFixed(2));
    $('#tax_placeholder').text(totalTax.toFixed(2));
    $('#round_off').text(adjustedRoundOff.toFixed(2));
    $('#total_payable').text(grandTotal);

    // Update tax summary table (if needed)
    $('#tax_summary_body').empty();
    for (const [rate, data] of Object.entries(taxSummary)) {
        $('#tax_summary_body').append(`
            <tr>
                <td>${rate}%</td>
                <td>${data.sgst.toFixed(2)}</td>
                <td>${data.cgst.toFixed(2)}</td>
                <td>${data.igst ? data.igst.toFixed(2) : '0.00'}</td>
                <td>${data.totalTax.toFixed(2)}</td>
            </tr>
        `);
    }
}
 
$('.single-select').select2();

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}



 </script>
