
{% include 'includes/header.html' %}
{% include 'includes/sidenavbar.html' %}
{% include 'includes/navbar.html' %}
{% load static %}

    <style>

        .transparent-input {
            background: transparent;
            border: none;
            text-align: right;
            width: 100%;
            font-weight: bold;
        }
        .transparent-input:focus {
            outline: none;
        }

    </style>


<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                         <div class="page-header-title"> <!-- mill to knitting delivery -->
                                            <h4 class="m-b-10">Cutting Entry  </h4>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/dashboard"><i
                                                        class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item">Program</a></li>
                                            <li class="breadcrumb-item"><a href="/purchase/cutting-program"> Cutting Entry</a></li>
                                        </ul>
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle btn-icon"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i
                                                                    class="feather icon-maximize"></i>
                                                                maximize</span><span style="display:none"><i
                                                                    class="feather icon-minimize"></i>
                                                                Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i
                                                                    class="feather icon-minus"></i> collapse</span><span
                                                                style="display:none"><i class="feather icon-plus"></i>
                                                                expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i
                                                                class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i
                                                                class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                      
                                        
                                    </div>

                                    <div class="card">

                                        <div class="card-body row"> 
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <form id="add_new" >
                                                            {% csrf_token %}
                                                            <div class="row ">
                                                                
                                                                <div class="col-md-2 mt-2">
                                                                    <label for="delivery_no" class="form-lebel">Program No.</label>
                                                                    <input type="text" class="form-control" value="{{prg_number}}" readonly>
                                                                </div>  
                                                                
                                                                <div class="col-md-2 mt-2">
                                                                    <label for="order_date" class="form-label">Program Date</label>
                                                                    <input class="form-control" type="date" name="program_date" id="program_date" required>
                                                                </div>

                                                                 
                                                                <div class="col-md-4 mt-2">
                                                                    <label for="order_date" class="form-label">Remarks</label>
                                                                    <input class="form-control" type="text" name="remarks" id="remarks" >
                                                                </div>
                                                                
                                                                <div class="col-md-2 mt-2">
                                                                    <label for="product_id" class="form-label">Party </label>
                                                                    <select id="party_id" name="party_id" class="form-control form-select single-select" onchange="LoadProgram()" >
                                                                        <option value="">Select</option>
                                                                        {% for k in party %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %} 
                                                                    </select> 
                                                                </div> 
 

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="order_date" class="form-label">Program Quantity</label>
                                                                    <input class="form-control" type="number" name="prg_quantity" id="prg_quantity" readonly>
                                                                </div>
                                                                
                                                                <div class="col-md-2 mt-3">
                                                                    <label for="product_id" class="form-label">Cutting program </label>
                                                                    <select id="prg_id" name="prg_id" class="form-control form-select single-select" >
                                                                        <option value="">Select</option>
                                                                        {% for k in cutting_program %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %} 
                                                                    </select> 
                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="fabric_id" class="form-label">Quality</label>
                                                                    <select id="quality_id" name="quality_id" class="form-control single-select" readonly onchange="LoadStyle()">
                                                                        <option value="">Select</option>
                                                                        {% for k in quality %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="fabric_id" class="form-label">Style</label>
                                                                    <select id="style_id" name="style_id" class="form-control single-select" aria-readonly="true">
                                                                        <option value="">Select</option>
                                                                        {% for k in style %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="fabric_id" class="form-label">Size</label>
                                                                    <select id="size_id" name="size_id" class="form-control single-select" >
                                                                        <option value="">Select</option>
                                                                        {% for k in size %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="fabric_id" class="form-label">Color</label>
                                                                    <select id="color_id" name="color_id" class="form-control single-select" >
                                                                        <option value="">Select</option>
                                                                        {% for k in color %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select> 
                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="fabric_id" class="form-label">Quantity (no's)</label>
                                                                    
                                                                    <input type="number" class="form-control" id="quantity" name="quantity" value="1" required>
                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="fabric_id" class="form-label">Wt. (kg)</label>
                                                                    
                                                                    <input type="number" class="form-control" id="wt" name="wt" >
                                                                </div>


                                                          
                                                                <div class="col-md-2 mt-4">
                                                                    <input type="hidden" class="form-control" id="original_quantity" name="original_quantity" >
                                                                    <input type="hidden" class="form-control" id="balance_qty" name="balance_qty" >

                                                                    <button class="btn btn-primary mt-3" type="button" onclick="addManualRow()">+ Add</button>

                                                                </div>

                                                            </div>
                                                    
                                                        </div> 
                                                        <div class="">
                                                            <div class="table-responsive table-desi">

                                                                <table id="purchaseTable" class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Size</th>
                                                                            <th>Color</th>
                                                                            <th>Quantity (No's)</th>
                                                                            <th style="display: none;">Size id</th>
                                                                            <th style="display: none;">Color id</th>
                                                                            <th>Wt (kg)</th>

                                                                            <th style="background-color: rgb(219, 230, 65); width: 50px; " >Balance Qty</th>
                                                                            <th style="display: none;">Original Qty</th>

                                                                            <th>Actions</th>

                                                                        </tr>
                                                                    </thead> 
                                                                    <tbody></tbody> 
                                                                </table>

                                                            
                                                            
                                                            </div>
                                                        </div>

                                                        <div class="row">
                        
                                                            <div class="col-md-8">
                                                                <div class="" style="text-align: center;" >
                                                                    <button type="button" id="cancel" class="btn btn-danger" onclick="history.back()">Close</button>
                                                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                                                                    <button type="submit" id="submit" class="btn btn-primary">Save</button>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4"> 

                                                       


                                                                <style>
                                                                    .summary-container {
                                                                        max-width: 500px;
                                                                        margin: 20px auto;
                                                                        background: linear-gradient(135deg, #6a11cb, #2575fc);
                                                                        color: white;
                                                                        padding: 15px;
                                                                        border-radius: 10px;
                                                                        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                                                                    }
                                                                
                                                                    .summary-table {
                                                                        width: 100%;
                                                                        background: white;
                                                                        color: black;
                                                                        border-radius: 10px;
                                                                        overflow: hidden;
                                                                        padding: 10px;
                                                                    }
                                                                
                                                                    .summary-table th {
                                                                        /* background: white; */
                                                                        color: black    ;
                                                                        padding: 10px;
                                                                        text-align: center;
                                                                    }
                                                                
                                                                    .summary-table td {
                                                                        padding: 8px;
                                                                        font-weight: bold;
                                                                    }
                                                                
                                                                    .highlight {
                                                                        background: #428bca;
                                                                        color: white;
                                                                        font-weight: bold;
                                                                        text-align: right;
                                                                    }
                                                                
                                                                    .transparent-input {
                                                                        width: 100%;
                                                                        border: none;
                                                                        outline: none;
                                                                        background: transparent;
                                                                        text-align: right;
                                                                        font-weight: bold;
                                                                        font-size: 16px;
                                                                        color: black;
                                                                    }
                                                                
                                                                    .transparent-input:focus {
                                                                        border-bottom: 2px solid #428bca;
                                                                    }
                                                                </style>
                                                               
                                                               

                                                               <div class="">
                                                                <table id="summary_table" class="table table-striped table-bordered w-100">
                                                                    <thead>
                                                                        <tr>
                                                                            <th colspan="3" style="text-align: center;">Summary Table</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th></th>  <!-- Empty cell for left-side labels -->
                                                                            <th>Quantity</th>
                                                                            <th>Weight</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Loss</td>
                                                                            <td><input type="number" id="loss_qty_input" value="0" class="transparent-input" min="0"></td>
                                                                            <td><input type="number" id="loss_wt_input" value="0" class="transparent-input" min="0" step="0.01"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Shortage</td>
                                                                            <td><input type="number" id="shortage_qty_input" value="0" class="transparent-input" min="0"></td>
                                                                            <td><input type="number" id="shortage_wt_input" value="0" class="transparent-input" min="0" step="0.01"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Total</td>
                                                                            <td class="highlight"><span id="qty_total_placeholder">0</span></td>
                                                                            <td class="highlight"><span id="wt_total_placeholder">0</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Balance</td>
                                                                            <td class="highlight"><span id="b_qty_total_placeholder">0</span></td>
                                                                            <td></td> <!-- No balance weight required -->
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Grand Total</td>
                                                                            <td class="highlight"><span id="grand_qty_total_placeholder">0</span></td>
                                                                            <td class="highlight"><span id="grand_wt_total_placeholder">0</span></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            
                                                                <!-- <div class="">
                                                                    <table id="summary_table" class="table table-striped table-bordered w-100">
                                                                        <thead>
                                                                            <tr>
                                                                                <th colspan="2">Summary Table</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Loss of Quantity</td>
                                                                                <td align="right"><input type="number" id="loss_qty_input" value="0" class="transparent-input" min="0"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Shortage Quantity</td>
                                                                                <td align="right"><input type="number" id="shortage_qty_input" value="0" class="transparent-input" min="0"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Loss of Weight</td>
                                                                                <td align="right"><input type="number" id="loss_wt_input" value="0" class="transparent-input" min="0" step="0.01"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Shortage Weight</td>
                                                                                <td align="right"><input type="number" id="shortage_wt_input" value="0" class="transparent-input" min="0" step="0.01"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Total Quantity</td>
                                                                                <td class="highlight"><span id="qty_total_placeholder">0</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Total Weight</td>
                                                                                <td class="highlight"><span id="wt_total_placeholder">0</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Balance Quantity</td>
                                                                                <td class="highlight"><span id="b_qty_total_placeholder">0</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Grand Total Quantity</td>
                                                                                <td class="highlight"><span id="grand_qty_total_placeholder">0</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Grand Total Weight</td>
                                                                                <td class="highlight"><span id="grand_wt_total_placeholder">0</span></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                 -->
                                                            

                                                        </div>
                                             
                                                    
                                            
                                                    </div>

                                               
                                                </div>
                                        
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .no-border-input {
            border: none;
            background: transparent;
            text-align: center;
            width: 100%;
            color: inherit; /* Matches text color to the row */
        }

        .no-border-input:focus {
            outline: none;
        }

    </style>
    
</div>
{% include 'includes/footer.html' %}


<script>



 


$(document).ready(function () {
    // Load programs when party is selected
    $('#party_id').change(function () {
        LoadProgram();
    });

    // Load details when a program is selected
    $('#prg_id').change(function () {
        let prg_id = $(this).val();

        if (prg_id) {
            updateProgramDetails();
            loadProgramDetails(prg_id);
        } else {
            $('#purchaseTable tbody').empty(); // Clear table if no program is selected
        }
    });
});

function LoadProgram() {
    let party_id = $('#party_id').val();
    console.log('Party-ID:', party_id);

    $.ajax({
        type: 'POST',
        url: '/purchase/get_cutting_program_lists/',
        data: {
            'party_id': party_id,
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
        },
        success: function (data) {
            let $prg_id = $('#prg_id');
            let $prg_quantity = $('#prg_quantity');
            let $quality_id = $('#quality_id');
            let $style_id = $('#style_id');

            // Reset dropdowns and inputs
            $prg_id.empty().append('<option value="">Select</option>');
            $prg_quantity.val('');
            $quality_id.val('').change();
            $style_id.val('').change();

            if (data.length > 0) {
                data.forEach(function (po) {
                    $prg_id.append(
                        `<option value="${po.id}" data-total="${po.total_quantity}" data-quality="${po.quality_id}" data-style="${po.style_id}">
                            ${po.cutting_no}
                        </option>`
                    );
                });
            }
        },
        error: function (xhr, status, error) {
            console.error('Error loading program lists:', error);
        }
    });
}

function updateProgramDetails() {
    let selectedOption = $('#prg_id').find(':selected');
    let totalQuantity = selectedOption.data('total') || '';
    let qualityId = selectedOption.data('quality') || '';
    let styleId = selectedOption.data('style') || '';

    console.log('Updating fields:', { totalQuantity, qualityId, styleId });

    $('#prg_quantity').val(totalQuantity);
    $('#quality_id').val(qualityId).change();
    $('#style_id').val(styleId).change();
}

function loadProgramDetails(prg_id) {
    $.ajax({
        type: 'POST', 
        url: '/purchase/get_sub_cutting_program/',
        data: {
            'prg_id': prg_id,
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
        },
        success: function (data) {
            let $tableBody = $('#purchaseTable tbody');
            $tableBody.empty(); // Clear existing rows

            if (data.length > 0) {
                data.forEach(function (item) {
                    addRow(item.size_name, item.color_name, item.size_id, item.color_id, item.quantity, 0); // Set wt as 0
                });
            }
        },
        error: function (xhr, status, error) {
            console.error('Error loading program details:', error);
        }
    });
}

// ````````````````````````````````````````````


// ```````````````````````````


function LoadStyle() {
    var quality_id = $('#quality_id').val(); 
    console.log('Quality-ID:', quality_id); // Debugging output

    if (!quality_id) {
        console.warn("No Quality ID selected");
        return;
    }

    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();  // CSRF Token

    $.ajax({
        type: 'POST',
        url: '/purchase/get_quality_style_list/',
        data: {
            'quality_id': quality_id,
            'csrfmiddlewaretoken': csrfToken 
        },
        dataType: 'json',

        success: function(data) {
            console.log('Received Data:', data); // Debugging output

            // Clear and add default "Select" option
            $('#style_id').empty().append('');
            $('#size_id').empty().append('<option value="">Select</option>');
            // $('#color_id').empty().append('<option value="">Select Color</option>');

            // Populate Styles
            if (data.style && Array.isArray(data.style)) {
                data.style.forEach(function(item) {
                    $('#style_id').append('<option value="' + item.id + '">' + item.name + '</option>');
                });
            }

            if (data.size && Array.isArray(data.size)) {
                data.size.forEach(function(item) {
                    $('#size_id').append('<option value="' + item.id + '">' + item.name + '</option>');
                });
            }

          
        },

        error: function(xhr, status, error) {
            console.error('Error loading fabric details:', error);
        } 
    });
}


</script>



<script>


 



// // ``````````````````````````````````````````````````````````````````````````````````````````````````````````````````````



const loadedItemsMap = {};



let rowCounter = 0; // Initialize row counter



function storeTblValues() {
    var TableData = [];
    var hasInvalidWt = false; // Flag to check if any wt <= 0 

    $('#purchaseTable tbody tr').each(function () {
        var size = $(this).find('td:eq(0)').text().trim();
        var color = $(this).find('td:eq(1)').text().trim();
        var quantity = parseFloat($(this).find('.quantity').text()) || 0;
        var wt = parseFloat($(this).find('.wt').text()) || 0;
        var balance_qty = parseFloat($(this).find('.balance_qty').text()) || 0;
        var originalQuantity = parseFloat($(this).attr("data-original-quantity")) || quantity;

        var sizeId = $(this).find('.size_id').text().trim();
        var colorId = $(this).find('.color_id').text().trim();

        // ✅ Validate Wt
        if (wt <= 0) {
            hasInvalidWt = true;
        }

        // ✅ Add only valid rows
        if (size && color && quantity > 0 && wt > 0) {
            TableData.push({
                "size": size,
                "color": color,
                "quantity": quantity,
                "balance_qty": balance_qty,
                "wt": wt,
                "size_id": sizeId,
                "color_id": colorId,
                "original_quantity": originalQuantity
            });
        }
    });

    // 🚨 If any invalid Wt exists, show alert
    if (hasInvalidWt) {
        console.log('Error: Some rows have Weight (Wt) <= 0. Please correct them before submitting.');
        return []; // Stop submission
    }

    calculateTotalValue();
    console.log('TABLE-DATA:', TableData);
    return TableData;
}


// function storeTblValues() {
//     var TableData = [];
//     var hasInvalidWt = false; // Flag to check if any wt <= 0 

//     $('#purchaseTable tbody tr').each(function (index) {
//         var size = $(this).find('td:eq(0)').text().trim();
//         var color = $(this).find('td:eq(1)').text().trim();
//         var quantity = parseFloat($(this).find('.quantity').text()) || 0;
//         var wt = parseFloat($(this).find('.wt').text()) || 0;
//         var balance_qty = parseFloat($(this).find('.balance_qty').text()) || 0;

//         var sizeId = $(this).find('.size_id').text().trim();
//         var colorId = $(this).find('.color_id').text().trim();

//         // ✅ Validate Wt
//         if (wt <= 0) {
//             hasInvalidWt = true; // Set flag if invalid weight exists
//         }

//         // ✅ Add only valid rows
//         if (size && color && quantity > 0 && wt > 0) {
//             TableData.push({
//                 "size": size,
//                 "color": color,
//                 "quantity": quantity,
//                 "balance_qty": balance_qty,
//                 "wt": wt,
//                 "size_id": sizeId,
//                 "color_id": colorId
//             });
//         }
//     }); 

//     // 🚨 If any invalid Wt exists, show alert
//     if (hasInvalidWt) {
 
//         // notifier.show(
//         //     'Error!', 
//         //     'Some rows have Weight (Wt) <= 0. Please correct them before submitting.', 
//         //     'danger', 
//         //     "{% static 'assets/images/notification/high_priority-48.png' %}", 
//         //     4000
//         // );
//         console.log('wt:','Some rows have Weight (Wt) <= 0. Please correct them before submitting.');


//         // alert("Error: Some rows have Weight (Wt) <= 0. Please correct them before submitting.");
//         return []; // Stop submission
//     }

//     calculateTotalValue();
//     console.log('TABLE-DATA:', TableData);
//     return TableData;
// }


// ```````````````````````````````````````````````           11-03-2025              ```````````````````````````````````````````````



function addManualRow() {
    console.log("Manual row function triggered");

    const quantity = $("#quantity").val() || 1;
    const wt = $("#wt").val() || 0;
    let selectedSizes = $("#size_id").val();
    let selectedColors = $("#color_id").val();

    selectedSizes = Array.isArray(selectedSizes) ? selectedSizes : [selectedSizes];
    selectedColors = Array.isArray(selectedColors) ? selectedColors : [selectedColors];

    if (!selectedSizes[0] || !selectedColors[0]) {
        notifier.show(
            'Error!',
            'Please select at least one size and one color.',
            'danger',
            "{% static 'assets/images/notification/high_priority-48.png' %}",
            4000
        );
        return;
    }

    selectedSizes.forEach(sizeId => {
        const sizeName = $("#size_id option[value='" + sizeId + "']").text();

        selectedColors.forEach(colorId => {
            const colorName = $("#color_id option[value='" + colorId + "']").text();

            if (!isRowDuplicate(sizeId, colorId)) { 
                addRow(sizeName, colorName, sizeId, colorId, quantity, wt);
            } else {
                notifier.show(
                    'Error!',
                    `Size: ${sizeName} and Color: ${colorName} already exists in the table.`,
                    'danger',
                    "{% static 'assets/images/notification/high_priority-48.png' %}",
                    4000
                );
            }
        }); 
    });
}

function isRowDuplicate(sizeId, colorId) {
    let isDuplicate = false;

    $("#purchaseTable tbody tr").each(function () {
        const existingSizeId = $(this).find(".size_id").text();
        const existingColorId = $(this).find(".color_id").text();

        if (existingSizeId === sizeId && existingColorId === colorId) {
            isDuplicate = true;
            return false;
        }
    });

    return isDuplicate;
}


// function calculateTotalValue() {
//     let totalQuantity = 0;
//     let subTotal = 0;
//     let totalBalanceQty = 0;

//     $('#purchaseTable tbody > tr').each(function () {
//         const quantity = parseFloat($(this).find('.quantity').text()) || 0;
//         const gross_wt = parseFloat($(this).find('.wt').text()) || 0;
//         const originalQuantity = parseFloat($(this).attr("data-original-quantity")) || quantity;
//         const balance_qty = originalQuantity - quantity; 

//         totalQuantity += quantity;
//         subTotal += gross_wt; 
//         totalBalanceQty += balance_qty; 

//         // Update balance quantity in row
//         $(this).find('.balance_qty').text(balance_qty);
//     });

//     $('#qty_total_placeholder').text(totalQuantity);
//     $('#wt_total_placeholder').text(subTotal.toFixed(2));
//     $('#b_qty_total_placeholder').text(totalBalanceQty); // Update balance qty total
// }


// ````````````````````````````````````````````````
// 
function calculateTotalValue() {
    let totalQuantity = 0;
    let totalWeight = 0;
    let totalBalanceQty = 0;

    $('#purchaseTable tbody > tr').each(function () {
        const quantity = parseFloat($(this).find('.quantity').text()) || 0;
        const weight = parseFloat($(this).find('.wt').text()) || 0;
        const originalQuantity = parseFloat($(this).attr("data-original-quantity")) || quantity;
        const balance_qty = originalQuantity - quantity;

        totalQuantity += quantity;
        totalWeight += weight;
        totalBalanceQty += balance_qty;

        // Update balance quantity in row
        $(this).find('.balance_qty').text(balance_qty);
    });

    // Get manual input values
    let lossQty = parseFloat($('#loss_qty_input').val()) || 0;
    let shortageQty = parseFloat($('#shortage_qty_input').val()) || 0;
    let lossWt = parseFloat($('#loss_wt_input').val()) || 0;
    let shortageWt = parseFloat($('#shortage_wt_input').val()) || 0;

    // Calculate grand totals
    let grandTotalQty = totalQuantity + lossQty + shortageQty;
    let grandTotalWt = totalWeight + lossWt + shortageWt;

    // Update placeholders
    $('#qty_total_placeholder').text(totalQuantity);
    $('#wt_total_placeholder').text(totalWeight.toFixed(2));
    $('#b_qty_total_placeholder').text(totalBalanceQty);
    $('#grand_qty_total_placeholder').text(grandTotalQty);
    $('#grand_wt_total_placeholder').text(grandTotalWt.toFixed(2));
}

// Attach event listeners to update when manual inputs change
$('#loss_qty_input, #shortage_qty_input, #loss_wt_input, #shortage_wt_input').on('input', function () {
    calculateTotalValue();
});



function editRow(row) {
    const size = row.querySelector("td:nth-child(1)").innerText.trim();
    const color = row.querySelector("td:nth-child(2)").innerText.trim();
    const quantityCell = row.querySelector(".quantity");
    const wtCell = row.querySelector(".wt");
    const sizeId = row.querySelector(".size_id").innerText.trim();
    const colorId = row.querySelector(".color_id").innerText.trim();

    // Get the original quantity from the row attribute or initialize it
    let originalQuantity = row.getAttribute("data-original-quantity");
    if (!originalQuantity) {
        originalQuantity = quantityCell.textContent.trim();
        row.setAttribute("data-original-quantity", originalQuantity);
    }
    
    originalQuantity = parseFloat(originalQuantity) || 0;
    const currentQuantity = parseFloat(quantityCell.textContent.trim()) || 0;
    const currentWt = parseFloat(wtCell.textContent.trim()) || 0;

    // Remove the row before updating form fields
    row.remove();
    calculateTotalValue();

    // Append values into form fields
    $("#size_id").val([sizeId]).trigger("change");
    $("#color_id").val([colorId]).trigger("change");
    $("#quantity").val(currentQuantity);
    $("#wt").val(currentWt);

    // Store the original quantity in a hidden field for balance calculation
    $("#original_quantity").val(originalQuantity);
}

function addRow(size, color, sizeId, colorId, quantity, wt) {
    const tableBody = document.querySelector("#purchaseTable tbody");
    if (!tableBody) {
        console.error("Table body not found!");
        return;
    }

    // Store the original quantity in a hidden field
    let originalQuantity = parseFloat($("#original_quantity").val()) || quantity; 

    const newRow = document.createElement("tr");
    newRow.setAttribute("data-original-quantity", originalQuantity); // Store in row attribute

    newRow.innerHTML = `
        <td>${size}</td>
        <td>${color}</td>
        <td class="quantity">${quantity}</td>  
        <td class="size_id" style="display:none">${sizeId}</td>
        <td class="color_id" style="display:none">${colorId}</td>
        <td class="wt">${wt}</td>
        <td class="balance_qty" style="background-color: rgb(219, 230, 65); width: 50px;">${originalQuantity - quantity}</td> <!-- Balance Quantity -->
        <td>
            <button class="btn btn-primary btn-xs edit-row"><i class="feather icon-edit"></i></button>
            <button class="btn btn-danger btn-xs remove-row"><i class="feather icon-trash-2"></i></button>
        </td>
    `;

    // Insert at the TOP of the table
    tableBody.prepend(newRow);

    // Reset form fields
    $('#color_id').val('').trigger("change");
    $('#quantity').val('1');
    $('#wt').val('');
    $('#original_quantity').val(''); // Clear the stored original quantity

    calculateTotalValue();

    newRow.querySelector(".remove-row").addEventListener("click", function () {
        newRow.remove();
        calculateTotalValue();
    });

    newRow.querySelector(".edit-row").addEventListener("click", function () {
        editRow(newRow);
    });
}





function calculateRow(event) {
    const row = event.target.closest("tr");

    const rate = parseFloat($(row).find('.rate').val()) || 0;
    const quantity = parseFloat($(row).find('.quantity').text()) || 0;

    const amount = (rate * quantity).toFixed(2);
    $(row).find('.amount').text(amount);

    calculateTotalValue();
}



// `````````````````````````````````````````````````````````````````````







function calculateTotalValue() {
    let totalQuantity = 0;
    let totalWeight = 0;
    let totalBalanceQty = 0;

    $('#purchaseTable tbody > tr').each(function () {
        const quantity = parseFloat($(this).find('.quantity').text()) || 0;
        const weight = parseFloat($(this).find('.wt').text()) || 0;
        const originalQuantity = parseFloat($(this).attr("data-original-quantity")) || quantity;
        const balance_qty = originalQuantity - quantity;

        totalQuantity += quantity;
        totalWeight += weight;
        totalBalanceQty += balance_qty;

        // Update balance quantity in row
        $(this).find('.balance_qty').text(balance_qty);
    });

    // Get manual input values
    let lossQty = parseFloat($('#loss_qty_input').val()) || 0;
    let shortageQty = parseFloat($('#shortage_qty_input').val()) || 0;
    let lossWt = parseFloat($('#loss_wt_input').val()) || 0;
    let shortageWt = parseFloat($('#shortage_wt_input').val()) || 0;

    // Calculate grand totals
    let grandTotalQty = totalQuantity + lossQty + shortageQty;
    let grandTotalWt = totalWeight + lossWt + shortageWt;

    // Update placeholders
    $('#qty_total_placeholder').text(totalQuantity);
    $('#wt_total_placeholder').text(totalWeight.toFixed(2));
    $('#b_qty_total_placeholder').text(totalBalanceQty);
    $('#grand_qty_total_placeholder').text(grandTotalQty);
    $('#grand_wt_total_placeholder').text(grandTotalWt.toFixed(2));
}

// Attach event listeners to update when manual inputs change
$('#loss_qty_input, #shortage_qty_input, #loss_wt_input, #shortage_wt_input').on('input', function () {
    calculateTotalValue();
});

$('#add_new').on('submit', function(e) {
    e.preventDefault(); // Prevent default form submission
    console.log("Submit button clicked");

    var TableData = storeTblValues();
    console.log('tbl-data:', TableData);

    if (TableData.length === 0) {
        notifier.show(
            'Error!', 
            'Some rows have Weight (Wt) <= 0. Please correct them before submitting.',
            'danger', 
            "{% static 'assets/images/notification/high_priority-48.png' %}", 
            4000
        ); 
        return; // 🚨 Stop form submission if invalid
    }

    if (confirm("Are you sure you want to save?")) {
        TableData = JSON.stringify(TableData); 
        var mdata = new FormData(this);
        mdata.append('cutting_data', TableData);

        var totalQty = $('#qty_total_placeholder').text();
        var totalwt = $('#wt_total_placeholder').text();

        var lo_totalQty = $('#loss_qty_input').val();  // 🔹 Fixed `.text()` to `.val()`
        var lo_totalwt = $('#loss_wt_input').val();

        var sh_totalQty = $('#shortage_qty_input').val();
        var sh_totalwt = $('#shortage_wt_input').val();

        var b_totalQty = $('#b_qty_total_placeholder').text();
        var grand_totqty = $('#grand_qty_total_placeholder').text();
        var grand_totalwt = $('#grand_wt_total_placeholder').text();

        // alert('q-id:', quality_id);
        mdata.append('total_quantity', totalQty);
        mdata.append('total_wt', totalwt);
        mdata.append('lo_totalQty', lo_totalQty);
        mdata.append('lo_totalwt', lo_totalwt);
        mdata.append('sh_totalQty', sh_totalQty);
        mdata.append('sh_totalwt', sh_totalwt);
        mdata.append('grand_totqty', grand_totqty);
        mdata.append('grand_totalwt', grand_totalwt);
        mdata.append('b_totalQty', b_totalQty);

        $.ajax({
            type: "POST", 
            url: "/purchase/add-cutting-entry/",
            data: mdata,
            processData: false,
            contentType: false,
            beforeSend: function() {
                console.log("Sending AJAX request...");
                $('#submit').attr('disabled', true).text('Processing...');
            },
            success: function(data) {  // 🔹 Fixed response handling
                console.log("Server Response:", data);
                $('#submit').attr('disabled', false).text('Save');

                if (data.status === 'yes') {  // ✅ Corrected condition
                    notifier.show(
                        'Well Done!', 
                        'Knitting Delivery added!', 
                        'success', 
                        "{% static 'assets/images/notification/ok-48.png' %}", 
                        4000
                    ); 
                    $('#add_new').trigger('reset');
					
					$('#quality_id').val('').trigger("change");
					$('#prg_id').val('').trigger("change");
					$('#style_id').val('').trigger("change");
					$('#size_id').val('').trigger("change");
					$('#color_id').val('').trigger("change");
					$('#party_id').val('').trigger("change");

					$('#purchaseTable tbody').empty();      
					$('#summary_table tbody').empty();     
                
                } else {
                    notifier.show(
                        'Error!', 
                        'Failed To add', 
                        'danger', 
                        "{% static 'assets/images/notification/high_priority-48.png' %}", 
                        4000
                    ); 
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log("AJAX Error:", textStatus, errorThrown);
                notifier.show(
                    'Error!', 
                    'Error adding data', 
                    'danger', 
                    "{% static 'assets/images/notification/high_priority-48.png' %}", 
                    4000
                ); 
                $('#submit').attr('disabled', false).text('Save');
            }
        });
    }
});


$('.single-select').select2(); 

            // Get current date and time
    const currentDate = new Date();
    const currentDateString = currentDate.toISOString().slice(0, 10); // Format as YYYY-MM-DD
    const currentTimeString = currentDate.toTimeString().slice(0, 5); // Format as HH:MM

    // Set default values for date and time fields
    document.getElementById('program_date').value = currentDateString;
    // document.getElementById('purchase_time').value = currentTimeString;



</script>