{% include 'includes/header.html' %}
{% include 'includes/sidenavbar.html' %}
{% include 'includes/navbar.html' %}
{% load static %}


<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body"> 
                    <div class="page-wrapper">
                        
                        <div class="row"> 
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <!-- Breadcrumb moved here -->
                                        <div class="d-flex align-items-center">
                                            <div class="page-header-title">
 
                                                <h4 class="m-b-10 me-1  ">Cutting Program</h4>
                                            </div> 
                                            <a href="/cutting-program-add" class="btn btn-gradient-primary btn-sm">Add</a>
                                            <!-- <button type="button" class="btn btn-gradient-primary btn-sm " data-bs-toggle="modal" data-bs-target="#add_modal">Add</button> -->
                                            <!-- <button type="button" class="btn btn-gradient-success btn-sm" onclick="refresh_data()">Refresh</button> -->
                                        </div> 
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/dashboard"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item">Program</li>
                                            <li class="breadcrumb-item"><a href="/customer">Cutting Program</a></li>
                                        </ul>
                                        
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle btn-icon" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div> 
                                    </div>
 
                                    <div class="card-body">                                        
                                        <div class="dt-responsive table-hover">
                                            <table id="datatable" class="table table-striped table-bordered wrap w-100" cellpadding="0" cellspacing="0">
                                             
                                             {% csrf_token %}  
                                             
                                             <thead>
                                                    <tr>
                                                        <th>ID #</th>
                                                        <th>Action</th>
                                                        <th>Cutting No.</th>
                                                        <!-- <th>Program Date</th>
                                                        <th>Party</th> -->
                                                        <th>Quality</th> 
                                                        <th>Style</th>
                                                        <th>Total Quantity</th>
                                                        
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>                            
                                                </tbody>
                                            </table>                                        
                                        </div>
                                    </div>
                                </div>                                      
                            </div>
                        </div>

                        <!-- Add Category Modal -->
                                  
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}
    
<script>
    $('.select2').select2({
        dropdownParent: $('#edit_modal')
    });
    $('.select').select2({
        dropdownParent: $('#add_modal')
    });
    



    

var table = $('#datatable').DataTable({
        "processing": true,
        "pageLength": 50,
        "destroy": true,
        "order": [], 
    //     columnDefs: [ 
    //     {
    //         targets: [4,5,6], // Ensure this matches the "Amount" column index
    //         render: function (data, type, row) {
    //             return new Intl.NumberFormat('en-IN', { 
    //                 style: 'currency', 
    //                 currency: 'INR'  
    //             }).format(data);
    //         }, 
    //         className: "text-end" // Aligns currency values to the right
    //     }

    // ],

        "columns": [
            { "data": "id", "title": " ID #" },
            { "data": "action", "title": "Action" }, 
            { "data": "cutting_no", "title": "Cutting No." }, 
            // { "data": "program_date", "title": " Program Date","className": "text-center" },
            // { "data": "party_id", "title": " Party" },
            { "data": "quality", "title": " Quality" },
            { "data": "style", "title": " Style" },
            { "data": "total_quantity", "title": "Total Quantity" },
            { "data": "status", "title": "Status" }
        ], 
        "ajax": {  
            "url": '/cutting-program-view/',
            "type": "POST",
            "data": function(data){
                data.csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
            },
            "dataSrc": function(json) { 
                if (json.message === 'error') {
                    
                    console.log('access denied')
                    return [];
                }

                // Log and return the valid data
                console.log(json);
                return json.data;
            }
        }
    });

 

    function refresh_data() {
    if ($.fn.DataTable.isDataTable("#datatable")) { 
        $('#datatable').DataTable().ajax.reload(null, false);  // ✅ Refresh without resetting pagination
    }
}




 

function cutting_program_edit(id) { 
    var encodedId = btoa(id); 
    console.log('detail-encodedId:',encodedId);

    window.location.href = '/cutting-program-edit/?id=' + encodedId;
}


 

</script>