
{% include 'includes/header.html' %}
{% include 'includes/sidenavbar.html' %}
{% include 'includes/navbar.html' %}
{% load static %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                         <div class="page-header-title"> <!-- mill to knitting delivery -->
                                            <h4 class="m-b-10">Voucher Add  </h4>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/dashboard"><i
                                                        class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item">Voucher</a></li>
                                            <li class="breadcrumb-item"><a href="/knitting"> Add Voucher</a></li>
                                        </ul>
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle btn-icon"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i
                                                                    class="feather icon-maximize"></i>
                                                                maximize</span><span style="display:none"><i
                                                                    class="feather icon-minimize"></i>
                                                                Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i
                                                                    class="feather icon-minus"></i> collapse</span><span
                                                                style="display:none"><i class="feather icon-plus"></i>
                                                                expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i
                                                                class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i
                                                                class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                      
                                        
                                    </div>

                                     
                                    <div class="row"> 
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="row">
                                                    <!-- <div class="col-md-8"> -->
                                                        <div class="col-md-12">
                                                            <form id="add_form">
                                                                {% csrf_token %}
                                                                <div class="modal-body">
                                                                    <div class="row p-2">
                                                                        <!-- First Column -->
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-md-2">
                                                                                    <label for="voucher_date" class="form-label">Voucher Date</label>
                                                                                    <input type="date" class="form-control" id="voucher_date" name="voucher_date">
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <label for="type" class="form-label">Voucher Type</label>
                                                                                    <select id="type" class="form-control single-select" name="type" required>
                                                                                        <option value="">Select</option>
                                                                                        <option value="receipt">Receipt</option>
                                                                                        <option value="payment">Payment</option>
                                                                                        <option value="debit">Debit Note</option>
                                                                                        <option value="credit">Credit Note</option>
                                                                                    </select>
                                                                                </div>
                                                                                <!-- <div class="col-md-2">
                                                                                    <label for="supplier" class="form-label">Supplier</label>
                                                                                    <select id="supplier" class="form-control single-select" name="supplier" onchange="LoadsupplierPayableAmount()">
                                                                                        <option value="">Select</option>
                                                                                        {% for k in supplier %}
                                                                                        <option value="{{ k.id }}">{{ k.name }}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div> --> 

                                                                                <div class="col-md-2 ">
                                                                                    <label for="product_id" class="form-label">Supplier </label>
                                                                                    <select id="supplier" name="supplier" class="form-control form-select single-select" onchange="LoadPO()" required>
                                                                                        <option value="">Select</option>
                                                                                        {% for k in supplier %}
                                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                                        {% endfor %} 
                                                                                    </select> 
                                                                                </div>  
                
                                                                                <div class="col-md-2 mt-2">
                                                                                    <label for="product_id" class="form-label">PO List</label>
                                                                                    <select id="po_id" name="po_id" class="form-control form-select single-select" multiple  onchange="LoadsupplierPayableAmount()" required >
                                                                                        <option value="">Select</option>
                                                                                        {% for k in po %}
                                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                                        {% endfor %} 
                                                                                    </select> 
                                                                                </div>


                                                                                <div class="col-md-2">
                                                                                    <label for="payable_amount" class="form-label">Payable Amount</label>
                                                                                    <input class="form-control" type="number" id="payable_amount" name="payable_amount" readonly>
                                                                                </div>
                                                                           
                                                                            
                                                                
                                                                        

                                                                            <div class="col-md-2">
                                                                                    <label for="amount" class="form-label">Amount</label>
                                                                                    <input class="form-control" type="number" id="amount" name="amount">
                                                                                </div>

                                                                                <div class="col-md-2">
                                                                                    <label for="amount" class="form-label">Balance Amount</label>
                                                                                    <input class="form-control" type="number" id="balance_amount" name="balance_amount">
                                                                                </div>


                                                                                 
                                                                            <!-- </div>
                                                         
                                                                            <div class="row mt-1"> -->
                                                                                <div class="col-md-4">
                                                                                    <label for="remarks" class="form-label">Remarks</label>
                                                                                    <textarea class="form-control" id="remarks" placeholder="Remarks..." rows="2" name="remarks"></textarea>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <label for="pay_remarks" class="form-label">Payment Remarks</label>
                                                                                    <textarea class="form-control" id="pay_remarks" rows="3" name="pay_remarks"></textarea>
                                                                                </div>
                                                                                <div class="col-md-4 mt-3 " >
                                                                                    <label for="payment_mode" class="form-label">Payment Mode</label><br>
                                                                                    <div class="form-check form-check-inline">
                                                                                        <input class="form-control form-check-input" type="radio" name="payment_mode" id="cash" value="cash">
                                                                                        <label class="form-check-label" for="cash">Cash</label>
                                                                                    </div>&nbsp;
                                                                                    <div class="form-check form-check-inline">
                                                                                        <input class="form-check-input" type="radio" name="payment_mode" id="cheque" value="cheque">
                                                                                        <label class="form-check-label" for="cheque">Cheque</label>
                                                                                    </div>
                                                                                <!-- </div>
                                                                                <div class="col-md-6 mt-3"> -->
                                                                                    <div class="form-check form-check-inline">
                                                                                        <input class="form-check-input" type="radio" name="payment_mode" id="dd" value="dd">
                                                                                        <label class="form-check-label" for="dd">DD</label>
                                                                                    </div>
                                                                                    <div class="form-check form-check-inline">
                                                                                        <input class="form-check-input" type="radio" name="payment_mode" id="bank_transfer" value="bank transfer">
                                                                                        <label class="form-check-label" for="bank_transfer">Bank Transfer</label>
                                                                                    </div>
                                                                                </div>

                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                        
                                                                    <!-- Cheque Details Section -->
                                                                    <div class="row p-2" id="cheque_details" style="display: none;">
                                                                        <div class="col-md-3">
                                                                            <label for="check_number" class="form-label">Cheque Number</label>
                                                                            <input class="form-control" type="text" id="check_number" name="check_number" placeholder="Enter Check Number">
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <label for="check_date" class="form-label">Check Date</label>
                                                                            <input class="form-control" type="date" id="cheque_date" name="check_date">
                                                                        </div>
                                                                    </div>
                                                        
                                                                    <!-- Bank Transfer Details Section -->
                                                                    <div class="row p-2" id="bank_transfer_details" style="display: none;">
                                                                        <div class="col-md-2">
                                                                            <label for="bank_name" class="form-label">Bank Name</label>
                                                                            <input class="form-control" type="text" id="bank_name" name="bank_name" placeholder="Enter Bank Name">
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <label for="account_number" class="form-label">Account Number</label>
                                                                            <input class="form-control" type="text" id="account_number" name="account_number" placeholder="Enter Account Number">
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <label for="ifsc_code" class="form-label">IFSC Code</label>
                                                                            <input class="form-control" type="text" id="ifsc_code" name="ifsc_code" placeholder="Enter IFSC Code">
                                                                        </div>  
                                                                        <div class="col-md-2">
                                                                            <label for="transaction_date" class="form-label">Transaction Date</label>
                                                                            <input class="form-control" type="date" id="transaction_date" name="transaction_date">
                                                                        </div>

                                                                        <div class="col-md-2 ">
                                                                            <label for="transaction_mode" class="form-label">Payment Mode</label>
                                                                            <select class="form-control single-select" id="transaction_mode" name="transaction_mode">
                                                                                <option value="neft">NEFT</option>
                                                                                <option value="rtgs">RTGS</option>
                                                                                <option value="imps">IMPS</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                        
                                                                    <div class="row p-2" id="bank_transfer_details" style="display: none;">>
                                                                        

                                                                       
                                                                    </div>
                                                         
                                                                    <div class="row p-2">
                                                                        
                                                                       
                                                                    </div>
                                                                </div>
                                                        
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        
                                                    
                                                    <!-- /row end  -->

                                                    <!-- <row start -->

                                                    <!-- <div class="col-md-4">
                                                        <form id="bill_form">
                                                            {% csrf_token %}
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered mt-2">
                                                                    <thead> 
                                                                        <tr>
                                                                            <th>Bill Date</th>
                                                                            <th>Bill Number</th>
                                                                            <th>Bill Amount</th>
                                                                            <th> Amount Paid</th>
                                                                            <th> Balance Amount</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="bill_table_body">

                                                                    </tbody>
                                                                </table>
                                                            </div>
                        
                                                        </form>
                                                    </div> -->



                                                </div>

                                    


                                             </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}

<script>


$('.single-select').select2({
        dropdownParent: $('#add_form')
    });
    



    


function LoadPO() {
    var supplier_id = $('#supplier').val(); 
    console.log('Supplier-ID:', supplier_id); // Adjusted for clarity
 
    $.ajax({
        type: 'POST',  // Change to POST
        url: '/get_po_lists/',
        data: {
            'supplier_id': supplier_id,
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()  // Include CSRF token
        },
        success: function(data) {
            $('#po_id').empty().append('<option value="">Select</option>');
            
            if (data.length > 0) {
                data.forEach(function(po) {
                    $('#po_id').append('<option value="' + po.id + '">' + po.po_number + '</option>');
                });
            }


            
        },
        error: function(xhr, status, error) {
            console.error('Error loading po lists:', error);
        } 
    });
}





              // Get current date and time


    const currentDate = new Date();
    const currentDateString = currentDate.toISOString().slice(0, 10); // Format as YYYY-MM-DD
    const currentTimeString = currentDate.toTimeString().slice(0, 5); // Format as HH:MM

    // Set default values for date and time fields
    document.getElementById('voucher_date').value = currentDateString;
    document.getElementById('transaction_date').value = currentDateString;
    document.getElementById('cheque_date').value = currentDateString;
    // document.getElementById('purchase_time').value = currentTimeString;



    
// function LoadsupplierPayableAmount() {
//     var supplier_id = $('#supplier').val(); // Get the selected customer ID
//     var voucher_type = $('#type').val(); // Get the selected customer ID
//     console.log('Supplier-ID:', supplier_id);

//     $.ajax({
//         type: 'GET', 
//         url: '/get_supplier_payable_amount/',  
//         data: {'supplier_id': supplier_id,
//                 'voucher_type':voucher_type
//         },
//         success: function(data) { 
//             if (data.payable_amount !== undefined) {
//                 $('#payable_amount').val(data.payable_amount); // Set the payable amount in the input field
//             }
//         },
//         error: function(xhr, status, error) {
//             console.error(error);
//         }
//     });
// }


function LoadsupplierPayableAmount() {
    var supplier_id = $('#supplier').val();  // Fixed incorrect selector
    var voucher_type = $('#type').val(); 
    var po_ids = $('#po_id').val();  // Get selected POs (can be multiple)

    console.log('Supplier-ID:', supplier_id);
    console.log('Selected POs:', po_ids);
    console.log('Selected Type:', voucher_type);

    // $.ajax({
    //     type: 'GET', 
    //     url: '/get_supplier_payable_amount/',   
    //     data: {
    //         'supplier_id': supplier_id,
    //         'voucher_type': voucher_type,
    //         'po_ids': po_ids // Send selected POs
    //     },
    //     success: function(data) { 
    //         if (data.payable_amount !== undefined) {
    //             $('#payable_amount').val(data.payable_amount);
    //         }
    //     },
    //     error: function(xhr, status, error) {
    //         console.error(error);
    //     }
    // });

    $.ajax({
    type: 'GET', 
    url: '/get_supplier_payable_amount/',  
    data: {
        'supplier_id': supplier_id,  // Make sure this is not undefined
        'voucher_type': voucher_type,
        'po_ids[]': po_ids  // Ensure this is formatted correctly for Django's getlist()
    },
    success: function(data) { 
        console.log('Response Data:', data);
        if (data.payable_amount !== undefined) {
            $('#payable_amount').val(data.payable_amount);
        }
    },
    error: function(xhr, status, error) {
        console.error('AJAX Error:', error);
    }
});



}

function LoadPayableAmount() {
    var customer_id = $('#customer').val(); // Get the selected customer ID
    console.log('Customer-ID:', customer_id);

    $.ajax({
        type: 'GET',
        url: '/get_payable_amount/',  
        data: {'customer_id': customer_id},
        success: function(data) {
            if (data.payable_amount !== undefined) {
                $('#payable_amount').val(data.payable_amount); // Set the payable amount in the input field
            }
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}




$(document).ready(function() {
    function toggleDropdowns(type) {
        // Reset all dropdowns to default (disabled and cleared)
        $("#customer").prop("disabled", true).val("");
        // $("#supplier").prop("disabled", true).val("");
        $("#company").prop("disabled", true).val("");

        // Show/Hide based on voucher type
        if (type === "receipt") {
            $("#supplier").prop("disabled", false); // Show supplier

            // $("#customer").prop("disabled", false); // Show customer
            $("#company").prop("disabled", false); // Show customer
        } 
        else if (type === "payment") {
            $("#company").prop("disabled", false); // Show supplier
            $("#supplier").prop("disabled", false); // Show supplier
        //    $("#customer").prop("disabled", false); // Show supplier
        } 
        else if (type === "credit") {
            $("#company").prop("disabled", false); // Show company 
            // $("#customer").prop("disabled", false); // Show company 
            $("#supplier").prop("disabled", false); // Show supplier

        } 
        else if (type === "debit") {
            $("#company").prop("disabled", false); // Show company
            // $("#customer").prop("disabled", false); // Show customer
            $("#supplier").prop("disabled", false); // Show supplier
        }
    }

    
    // Handle type change
    $("#type").change(function() {
        var type = $(this).val();
        toggleDropdowns(type);
    });

    // Call toggleDropdowns initially to set dropdowns according to the initial value of voucher type
    var initialType = $("#type").val(); 
    toggleDropdowns(initialType);
});

document.addEventListener('DOMContentLoaded', function() {
    // Get payment mode radio buttons
    const paymentModes = document.getElementsByName('payment_mode');
    
    // Get elements for cheque and bank transfer details
    const chequeDetails = document.getElementById('cheque_details');
    const bankTransferDetails = document.getElementById('bank_transfer_details');

    // Function to handle showing/hiding the cheque and bank transfer fields 
    function togglePaymentFields() {
        const selectedMode = document.querySelector('input[name="payment_mode"]:checked').value;

        if (selectedMode === 'cheque') {
            // Show cheque details, hide bank transfer details
            chequeDetails.style.display = 'flex';  
            bankTransferDetails.style.display = 'none';
        } else if (selectedMode === 'bank transfer') {
            // Show bank transfer details, hide cheque details
            bankTransferDetails.style.display = 'flex';  
            chequeDetails.style.display = 'none';
        } else {
            // Hide both cheque and bank transfer details if other modes are selected
            chequeDetails.style.display = 'none';
            bankTransferDetails.style.display = 'none';
        }
    }

    // Add change event listeners to all payment mode radio buttons
    paymentModes.forEach(function(mode) {
        mode.addEventListener('change', togglePaymentFields);
    });

    // Run toggle function on page load in case "Cheque" or "Bank Transfer" is already selected
    togglePaymentFields();
});







// ```````` ADD voucher `````````````````````````````````

$("input[name='payment_mode']").on('change', function () {
        const selectedMode = $(this).val();
        $("#cheque_details, #bank_transfer_details").hide();

        if (selectedMode === 'cheque') {
            $("#cheque_details").show();
        } else if (selectedMode === 'bank transfer') {
            $("#bank_transfer_details").show();
        }
    });

    // Form submission
    $("#add_form").submit(function (e) {
        e.preventDefault();

        const voucherType = $('#type').val();
        const po_ids = $('#po_id').val();
        const customer = $('#customer').val();
        const supplier = $('#supplier').val();
        const amount = $('#amount').val();
        const paymentMode = $('input[name="payment_mode"]:checked').val();

        if (!voucherType || !amount || !paymentMode) {
            alert('Please fill in all the required fields.');
            return;
        }
        const bills = [];
            $('#bill_table_body tr').each(function() {
                const billId = $(this).find('.editable-bill-amount').data('bill-id');
                const billAmount = parseFloat($(this).find('.editable-bill-amount').text());
                const deductedAmount = parseFloat($(this).find('.entered-amount').text());
                const balanceAmount = parseFloat($(this).find('.balance-amount').text());
                const advanceAmount = $(this).find('.advance-amount').text() || null;

                bills.push({
                    bill_id: billId,
                    order_id: billId,
                    bill_amount: billAmount,
                    deducted_amount: deductedAmount,
                    balance_amount: balanceAmount,
                    advance_amount: advanceAmount
                });
            });

        const data = {
            type: voucherType,
            customer: customer,
            supplier: supplier || 0,
            amount: amount,
            payment_mode: paymentMode,
            po_ids:po_ids,
            'po_ids[]': po_ids ,
            check_number: $('#check_number').val(),
            check_date: $('#check_date').val(),
            bank_name: $('#bank_name').val(),
            transaction_date: $('#transaction_date').val(),
            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            bills: JSON.stringify(bills),
        };

        $.ajax({
            type: 'POST',
            url: '/add-voucher/',
            data: data,
            success: function (response) {
                console.log('respnse:',response);
                notifier.show(
                    'Well Done!', 
                    'Voucher added successfully.', 
                    'success', 
                    "{% static 'assets/images/notification/ok-48.png' %}", 
                    4000
                );
                // showToast('success', 'Voucher Added successfully!');
                $('#add_modal').modal('hide');
                $('#add_form').trigger('reset');
                $('#bill_table_body').empty();
                refresh_data();
            },
            error: function (xhr, status, error) {
                console.error('Error adding voucher:', error);

                notifier.show(
                    'Error!', 
                    'Failed to add voucher. Please try again', 
                    'danger', 
                    "{% static 'assets/images/notification/high_priority-48.png' %}", 
                    4000
                );
                // alert('Failed to add the voucher. Please try again.');
            }
        });
    });





</script>