
{% include 'includes/header.html' %}
{% include 'includes/sidenavbar.html' %}
{% include 'includes/navbar.html' %}
{% load static %}
 
    <style>

        .transparent-input {
            background: transparent;
            border: none;
            text-align: right;
            width: 100%;
            font-weight: bold;
        }
        .transparent-input:focus {
            outline: none;
        }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

    </style>


<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                         <div class="page-header-title"> <!-- mill to knitting delivery -->
                                            <h4 class="m-b-10">Stiching Delivery Update </h4>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/dashboard"><i
                                                        class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item">Production</a></li>
                                            <li class="breadcrumb-item"><a href="/stiching-delivery"> Stiching Delivery Update</a></li>
                                        </ul>
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle btn-icon"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                                                    <li class="dropdown-item full-card"><a href="#!"><span><i
                                                                    class="feather icon-maximize"></i>
                                                                maximize</span><span style="display:none"><i
                                                                    class="feather icon-minimize"></i>
                                                                Restore</span></a></li> 
                                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i
                                                                    class="feather icon-minus"></i> collapse</span><span
                                                                style="display:none"><i class="feather icon-plus"></i>
                                                                expand</span></a></li>
                                                    <li class="dropdown-item reload-card"><a href="#!"><i
                                                                class="feather icon-refresh-cw"></i> reload</a></li>
                                                    <li class="dropdown-item close-card"><a href="#!"><i
                                                                class="feather icon-trash"></i> remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                      
                                        
                                    </div>

                                    <div class="card">

                                        <div class="card-body row"> 
                                            <div class="col-sm-12"> 
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <form id="add_new" >
                                                            <div class="row ">
                                                                
                                                                <div class="col-md-2 mt-3">
                                                                    <label for="delivery_no" class="form-lebel">Outward No.</label>
                                                                    <input type="text" class="form-control" value="{{parent_stock_instance.outward_no}}" readonly>
                                                                    <input type="hidden" class="form-control" value="{{parent_stock_instance.id}}" id="tm_id" name="tm_id">
                                                                </div>  
                                                                
                                                                <div class="col-md-2 mt-3">
                                                                    <label for="order_date" class="form-label">Outward Date</label>
                                                                    <input class="form-control" type="date" name="outward_date" id="outward_date" required>
                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="fabric_id" class="form-label">Party</label>
                                                                    <select id="party_id" name="party_id" class="form-control single-select" onchange="LoadEntry()">
                                                                        <option value="">Select</option>
                                                                        {% for k in party %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>

 
   
                                                                <!-- <div class="col-md-2 mt-2">
                                                                    <input class="form-check-input mt-5" type="checkbox" id="is_packing" name="is_packing" >
                                                                    <label class="form-label mt-5" for="is_packing">Direct Delivery  To Packing</label>  
                                                                </div>
                                                                 -->

                                                                 <div class="col-md-1 mt-5">
                                                                    <input class="form-check-input" type="checkbox" id="is_packing" name="is_packing" 
                                                                        {% if parent_stock_instance.is_packing == 1 %} checked {% endif %}>
                                                                    <label class="form-label" for="is_packing"> Direct Delivery To Packing</label>  
                                                                </div>

                                                               
                                                                <div class="col-md-2 mt-3">
                                                                    <label for="receive_no" class="form-label"><span style="color: red;">*</span> Receive No.</label>
                                                                    <input type="text" class="form-control" value="{{parent_stock_instance.receive_no}}" id="receive_no" name="receive_no"  required>
                                                                </div>

                                                                <div class="col-md-2 mt-3"> 
                                                                    <label for="receive_date" class="form-label"><span style="color: red;">*</span> Receive Date</label>
                                                                    <input type="date" class="form-control" id="receive_date" name="receive_date"  required>
                                                                </div>



                                                                <div class="col-md-2 mt-3">
                                                                    <label for="product_id" class="form-label">Cutting Entry </label>
                                                                    <select id="entry_id" name="entry_id" class="form-control form-select single-select" >
                                                                        <option value="">Select</option>
                                                                        <!-- {% for k in cutting_entry %}
                                                                        <option value="{{ k.id }}">{{ k.cutting_no }} - ({{k.work_order_no}})</option> 
                                                                        {% endfor %}  -->
                                                                    </select>
                                                                    <input class="form-control" type="hidden" name="work_order_no" id="work_order_no" readonly>

                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="fabric_id" class="form-label">Quality</label>
                                                                    <select id="quality_id" name="quality_id" class="form-control single-select" readonly onchange="LoadStyle()">
                                                                        <option value="">Select</option>
                                                                        {% for k in quality %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="fabric_id" class="form-label">Style</label>
                                                                    <select id="style_id" name="style_id" class="form-control single-select" aria-readonly="true">
                                                                        <option value="">Select</option>
                                                                        {% for k in style %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>

                                                         
                                                                <div class="col-md-2 mt-3">
                                                                    <label for="fabric_id" class="form-label">Size</label>
                                                                    <select id="size_id" name="size_id" class="form-control single-select" >
                                                                        <option value="">Select</option>
                                                                        {% for k in size %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="fabric_id" class="form-label">Color</label>
                                                                    <select id="color_id" name="color_id" class="form-control single-select" >
                                                                        <option value="">Select</option>
                                                                        {% for k in color %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option> 
                                                                        {% endfor %}
                                                                    </select> 
                                                                </div>

                                                                <div class="col-md-2 mt-3">
                                                                    <label for="fabric_id" class="form-label">Quantity (pcs)</label>
                                                                    
                                                                    <input type="number" class="form-control" id="quantity" name="quantity" value="1" required>
                                                                </div>

                                                            


                                                          
                                                                <div class="col-md-2 mt-4">
                                                                    <input type="hidden" class="form-control" id="original_quantity" name="original_quantity" >
                                                                    <input type="hidden" class="form-control" id="balance_qty" name="balance_qty" >
                                                                    {% csrf_token %}

                                                                    <button class="btn btn-primary mt-3" type="button" onclick="addManualRow()">+ Add</button>

                                                                </div>

                                                            </div>
                                                    
                                                        </div> 


                                                        
                                                            
                                                        <div class="">
                                                            <div class="table-responsive table-desi">

                                                               <table id="purchaseTable" class="table table-bordered table-striped w-100">
                                                                    <thead></thead>
                                                                    <tbody></tbody>
                                                                    <!-- <tfoot> will be appended dynamically -->
                                                                </table>

                                                            
                                                            
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                             <div class="col-md-6 mt-2">
                                                                    <!-- <label for="order_date" class="form-label">Remarks</label> -->
                                                                    <textarea class="form-control" type="text" name="remarks" id="remarks" placeholder="Remarks"></textarea>
                                                                </div>

                        
                                                            <div class="col-md-2 mt-3">
                                                                <div class="" style="text-align: center;" >
                                                                    <button type="button" id="cancel" class="btn btn-danger" onclick="history.back()">Close</button>
                                                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                                                                    <button type="submit" id="submit" class="btn btn-primary">Save</button>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4"> 

                                                       


                                                                <style>
                                                                    .summary-container {
                                                                        max-width: 500px;
                                                                        margin: 20px auto;
                                                                        background: linear-gradient(135deg, #6a11cb, #2575fc);
                                                                        color: white;
                                                                        padding: 15px;
                                                                        border-radius: 10px;
                                                                        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                                                                    }
                                                                
                                                                    .summary-table {
                                                                        width: 100%;
                                                                        background: white;
                                                                        color: black;
                                                                        border-radius: 10px;
                                                                        overflow: hidden;
                                                                        padding: 10px;
                                                                    }
                                                                
                                                                    .summary-table th {
                                                                        /* background: white; */
                                                                        color: black    ;
                                                                        padding: 10px;
                                                                        text-align: center;
                                                                    }
                                                                
                                                                    .summary-table td {
                                                                        padding: 8px;
                                                                        font-weight: bold;
                                                                    }
                                                                
                                                                    .highlight {
                                                                        background: #428bca;
                                                                        color: white;
                                                                        font-weight: bold;
                                                                        text-align: right;
                                                                    }
                                                                
                                                                    .transparent-input {
                                                                        width: 100%;
                                                                        border: none;
                                                                        outline: none;
                                                                        background: transparent;
                                                                        text-align: right;
                                                                        font-weight: bold;
                                                                        font-size: 16px;
                                                                        color: black;
                                                                    }
                                                                
                                                                    .transparent-input:focus {
                                                                        border-bottom: 2px solid #428bca;
                                                                    }
                                                                </style>
                                                               
                                                               

                                              
                                                  

                                                        </div>
                                             
                                                    
                                            
                                                    </div>

                                                    <!-- colmn-2 -->
                                                           

                                               
                                                </div>
                                        
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .no-border-input {
            border: none;
            background: transparent;
            text-align: center;
            width: 100%;
            color: inherit; /* Matches text color to the row */
        }

        .no-border-input:focus {
            outline: none;
        }

    </style>
    
</div>
{% include 'includes/footer.html' %}


<script>




if ("{{ parent_stock_instance.outward_date }}" && "{{ parent_stock_instance.outward_date }}" !== "") {
    var purchaseDate = "{{ parent_stock_instance.outward_date }}";
    // Ensure it's in the correct format (YYYY-MM-DD)
    var formattedDate = new Date(purchaseDate).toISOString().split('T')[0];
    $('#outward_date').val(formattedDate).trigger("change");
}



if ("{{ parent_stock_instance.receive_date }}" && "{{ parent_stock_instance.receive_date }}" !== "") {
    var purchaseDate = "{{ parent_stock_instance.receive_date }}";
    // Ensure it's in the correct format (YYYY-MM-DD)
    var formattedDate = new Date(purchaseDate).toISOString().split('T')[0];
    $('#receive_date').val(formattedDate).trigger("change");
}


if ("{{parent_stock_instance.party_id}}" && "{{parent_stock_instance.party_id}}" !== "") {
    $('#party_id').val("{{parent_stock_instance.party_id}}").trigger("change");
}



function LoadEntry() {
    var party_id = $('#party_id').val(); 
    $('#entry_id').empty().append('<option value="">Select</option>');
    console.log('Supplier-ID:', party_id); // Adjusted for clarity

    $.ajax({
        type: 'POST',  // Change to POST 
        url: '/get_cutting_entry_list/',
        data: {
            'party_id': party_id,
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()  // Include CSRF token
        },



        success: function(data) {
            // $('#po_list').empty().append('<option value="">Select</option>');
        

            
            if (data.orders && data.orders.length > 0) {
                data.orders.forEach(function(po) {
                    $('#entry_id').append('<option value="' + po.id + '">' + po.cutting_no + ' - ' + po.work_order_no + '</option>');

                
                });
            }

            
            if ("{{parent_stock_instance.cutting_entry_id}}" && "{{parent_stock_instance.cutting_entry_id}}" !== "") {
                $('#entry_id').val("{{parent_stock_instance.cutting_entry_id}}").trigger("change");
            }

             
        },

        error: function(xhr, status, error) {
            console.error('Error loading PO lists:', error);
        } 
    });
}


$("#entry_id").on("change", function () {
    const selectedOption = $(this).find("option:selected");
    const prgText = selectedOption.text(); // e.g., "CN123 - WO5678"

    if (prgText.includes(" - ")) {
        const parts = prgText.split(" - ");
        $("#work_order_no").val(parts[1].trim());  // set only work_order_no
    } else {
        $("#work_order_no").val('');
    }
});

// $("#entry_id").on("change", function () {
//     const selectedOption = $(this).find("option:selected");
//     const prgText = selectedOption.text(); // e.g., "12345 - (WO-5678)"

//     // const match = prgText.match(/\((.*?)\)/);  // Match value inside parentheses
//     const match = prgText.match(/(.*?)/);  // Match value inside parentheses
//     if (match) {
//         $("#work_order_no").val(match[1].trim());
//     } else {
//         $("#work_order_no").val('');
//     }
// });




$(document).ready(function () {
    function toggleFields() {
        const isChecked = $('#is_packing').is(':checked');

        // Enable if checked, disable if not
        $(' #deliver_to').prop('disabled', !isChecked);
    }

    // Call on page load
    toggleFields();

    // Call when checkbox changes
    $('#is_packing').change(function () {
        toggleFields();
    });
});


// $('#entry_id').on('change', function () {
//     const party_id = $("#party_id").val();
//     const work_order_no = $("#work_order_no").val();
//     const entry_id = $(this).val();
//     const color_text = $('#entry_id option:selected').text().trim();
//     const deliver_to = $("#deliver_to option:selected").text() || '-';
//     const deliver_id = $("#deliver_to").val() || 0;
//     const tm_id = $("#tm_id").val();
//     // const deliver_to = (deliver_to && deliver_to !== "Select") ? deliver_to : '';
   
    
//     const isInward = $("#is_packing").is(":checked") ? 1 : 0;

//     $.ajax({
//         type: 'POST',
//         url: '/get_cutting_summary_stock/',
//         data: {
//             entry_id,
//             tm_id,
//             csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
//         },
//         success: function (response) {
//             const summaryData = response.data || [];
//             const quality = response.quality;
//             const style = response.style;
 
//             // Set quality
//             if (quality && typeof quality === 'object') {
//                 $('#quality_id').empty().append('<option selected value="' + quality.id + '">' + quality.name + '</option>');
//             }

//             // Set style
//             if (style && typeof style === 'object') {
//                 $('#style_id').empty().append('<option selected value="' + style.id + '">' + style.name + '</option>');
//             }
//             $("#purchaseTable thead").empty();
//             $("#purchaseTable tbody").empty();
//             $("#purchaseTable tfoot").remove();

//             if (summaryData.length === 0) {
//                 alert('No data found for selected inward.');
//                 return;
//             }

//             // ===== Table Header =====
//             let thead = `
//                 <tr>
//                     <th colspan="5" class="text-center">${color_text}</th>
//                 </tr>
//                 <tr>
//                     <th>Size</th>
//                     <th>Color</th>
//                     <th class="text-center">ENTRY (In Qty)</th>
//                     <th class="text-center">BALANCE (Stock)</th>
//                     <th class="text-center">OUTWARD</th>
//                 </tr>
//             `;
//             $("#purchaseTable thead").html(thead);

//             // ===== Table Body & Totals =====
//             let tbody = '';
//             let total_in = 0;
//             let total_out = 0;
//             let total_balance = 0;

//             summaryData.forEach(row => {
//                 const sizeName = row.size_name;
//                 const colorName = row.color_name;


//                 const sizeId = row.size_id;
//                 const colorId = row.color_id;
//                 const inQty = parseFloat(row.total_in_quantity) || 0;
//                 const outQty = parseFloat(row.total_out_quantity) || 0;
//                 const balQty = parseFloat(row.available_stock_quantity) || 0;

//                 total_in += inQty;
//                 total_out += outQty;
//                 total_balance += balQty;

//                 tbody += `
//                     <tr>
//                         <td>${sizeName}</td>
//                         <td>${colorName}</td>
//                         <td align="right">${inQty.toFixed(3)}</td>
//                         <td align="right" class="balance-qty" data-original="${balQty.toFixed(3)}">${balQty.toFixed(3)}</td>
//                         <td style="width:90px;">
//                             <input type="number" class="form-control form-control-sm outward-qty" 
//                                 value="${outQty.toFixed(3)}" min="0" step="0.01" style="width: 190px; border: none; text-align:right;">
//                         </td>
//                         <td style="display:none;" class="color_id">${colorId}</td>
//                         <td style="display:none;" class="size_id">${sizeId}</td>
//                         <td id="is_packing" style="display:none">${isInward}</td>

//                     </tr>
//                 `;
//             });

//             $("#purchaseTable tbody").html(tbody);

//             // ===== Table Footer =====
//             let tfoot = `
//                 <tfoot>
//                     <tr>
//                         <th colspan="2">Total</th>
//                         <th style="text-align:right;">${total_in.toFixed(3)}</th>
//                         <th style="text-align:right;">${total_balance.toFixed(3)}</th>
//                         <th style="text-align:right;">${total_out.toFixed(3)}</th>
//                     </tr>
//                 </tfoot>
//             `;
//             $("#purchaseTable").append(tfoot);


//             // $("#purchaseTable").append(tfoot);

//         function updateFooterTotals() {
//             let totalOut = 0;
//             let totalBalance = 0;

//             $(".outward-qty").each(function () {
//                 totalOut += parseFloat($(this).val()) || 0;
//             });

//             $(".balance-qty").each(function () {
//                 totalBalance += parseFloat($(this).text()) || 0;
//             });

//             $(".footer-out-qty").text(totalOut.toFixed(3));
//             $(".footer-balance").text(totalBalance.toFixed(3));
//         }

//             // ===== Event Binding for Input Validation =====
//           $("#purchaseTable").off("input").on("input", ".outward-qty", function () {
//                 const $row = $(this).closest("tr");
//                 const $balanceCell = $row.find(".balance-qty");

//                 const originalBalance = parseFloat($balanceCell.attr("data-original")) || 0;
//                 let enteredOut = parseFloat($(this).val()) || 0;

//                 // Enforce max limit
//                 if (enteredOut > originalBalance) {
//                     alert("Outward quantity cannot exceed the original balance!");
//                     enteredOut = originalBalance;
//                     $(this).val(originalBalance.toFixed(3));
//                 }

//                 // Update balance cell
//                 const newBalance = originalBalance - enteredOut;
//                 $balanceCell.text(newBalance.toFixed(3));

//                 // Update total outward
//                 let totalOutward = 0;
//                 $(".outward-qty").each(function () {
//                     totalOutward += parseFloat($(this).val()) || 0;
//                 });
//                 $("#purchaseTable tfoot tr th").eq(4).text(totalOutward.toFixed(3));

//                 // Update total balance
//                 let totalBalance = 0;
//                 $(".balance-qty").each(function () {
//                     totalBalance += parseFloat($(this).text()) || 0;
//                 });
//                 $("#purchaseTable tfoot tr th").eq(3).text(totalBalance.toFixed(3));
//             });





//             // // ===== Event Binding for Input Validation =====
//             // $("#purchaseTable").off("input").on("input", ".outward-qty", function () {
//             //     const row = $(this).closest("tr");
//             //     const enteredOut = parseFloat($(this).val()) || 0;
//             //     const stock = parseFloat(row.find("td:eq(3)").text()) || 0;

//             //     if (enteredOut > stock) {
//             //         alert("Outward quantity cannot exceed stock!");
//             //         $(this).val(stock.toFixed(3));
//             //     }

//             //     // Recalculate total outward
//             //     let totalOutward = 0;
//             //     $(".outward-qty").each(function () {
//             //         totalOutward += parseFloat($(this).val()) || 0;
//             //     });
//             //     $("#purchaseTable tfoot th:eq(4)").text(totalOutward.toFixed(3));
//             // });
//         },
//         error: function (xhr, status, error) {
//             console.error("Error fetching cutting stock summary:", error);
//             $("#purchaseTable thead").empty();
//             $("#purchaseTable tbody").empty();
//             $("#purchaseTable tfoot").remove();
//         }
//     });
// });



$('#entry_id').on('change', function () {
    const party_id = $("#party_id").val();
    const work_order_no = $("#work_order_no").val();
    const entry_id = $(this).val();
    const color_text = $('#entry_id option:selected').text().trim();
    const deliver_to = $("#deliver_to option:selected").text() || '-';
    const deliver_id = $("#deliver_to").val() || 0;
    const tm_id = $("#tm_id").val() || '';  // Optional, default to empty if not set
    const isInward = $("#is_packing").is(":checked") ? 1 : 0;

    $.ajax({
        type: 'POST',
        url: '/get_cutting_summary_stock/',
        data: {
            entry_id,
            tm_id,
            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
        },
        success: function (response) {
            const summaryData = response.data || [];
            const quality = response.quality;
            const style = response.style;

            // Set dropdowns
            if (quality) {
                $('#quality_id').html(`<option selected value="${quality.id}">${quality.name}</option>`);
            }
            if (style) {
                $('#style_id').html(`<option selected value="${style.id}">${style.name}</option>`);
            }

            $("#purchaseTable thead").empty();
            $("#purchaseTable tbody").empty();
            $("#purchaseTable tfoot").remove();

            if (summaryData.length === 0) {
                alert('No data found for selected inward.');
                return;
            }

            // ==== Header ====
            let thead = `
                <tr>
                    <th colspan="5" class="text-center">${color_text}</th>
                </tr>
                <tr>
                    <th>Size</th>
                    <th>Color</th>
                    <th class="text-center">ENTRY (In Qty)</th>
                    <th class="text-center">BALANCE (Stock)</th>
                    <th class="text-center">OUTWARD</th>
                </tr>`;
            $("#purchaseTable thead").html(thead);

            // ==== Body ====
            let tbody = '';
            let total_in = 0, total_out = 0, total_balance = 0;

            summaryData.forEach(row => {
                const sizeName = row.size_name;
                const colorName = row.color_name;
                const sizeId = row.size_id;
                const colorId = row.color_id;

                const inQty = parseFloat(row.total_in_quantity) || 0;
                const outQty = parseFloat(row.total_out_quantity) || 0;
                const balQty = parseFloat(row.available_stock_quantity) || 0;

                total_in += inQty;
                total_out += outQty;
                total_balance += balQty;

                tbody += `
                    <tr>
                        <td>${sizeName}</td>
                        <td>${colorName}</td>
                        <td align="right" class="in-qty"  data-original="${inQty.toFixed(3)}">${inQty.toFixed(3)}</td>
                        <td align="right" class="balance-qty" data-original="${balQty.toFixed(3)}">${balQty.toFixed(3)}</td>
                        <td style="width:90px;">
                            <input type="number" class="form-control form-control-sm outward-qty" 
                                value="${outQty.toFixed(3)}" min="0" step="0.01" 
                                style="width: 190px; border: none; text-align:right;">
                        </td>
                        <td style="display:none;" class="color_id">${colorId}</td>
                        <td style="display:none;" class="size_id">${sizeId}</td>
                        <td style="display:none;" class="is_packing">${isInward}</td>
                    </tr>`;
            });
            $("#purchaseTable tbody").html(tbody);

            // ==== Footer ====
            let tfoot = `
                <tfoot>
                    <tr>
                        <th colspan="2">Total</th>
                        <th class="footer-in-qty" style="text-align:right;">${total_in.toFixed(3)}</th>
                        <th class="footer-balance" style="text-align:right;">${total_balance.toFixed(3)}</th>
                        <th class="footer-out-qty" style="text-align:right;">${total_out.toFixed(3)}</th>
                    </tr>
                </tfoot>`;
            $("#purchaseTable").append(tfoot);

            // ==== Event Binding ====
            $("#purchaseTable").off("input").on("input", ".outward-qty", function () {
                const $row = $(this).closest("tr");
                const $inCell = $row.find(".in-qty");
                const $balanceCell = $row.find(".balance-qty");
                const originalBalance = parseFloat($balanceCell.attr("data-original")) || 0;
                const originalIn = parseFloat($inCell.attr("data-original")) || 0;
                let enteredOut = parseFloat($(this).val()) || 0;

                // if (enteredOut > originalBalance) {
                //     alert("Outward quantity cannot exceed the original balance!");
                //     enteredOut = originalBalance;
                //     $(this).val(originalBalance.toFixed(3));
                // }

                // Update balance in row
                const newBalance =originalIn  - enteredOut;
                $balanceCell.text(newBalance.toFixed(3));

                // Recalculate totals
                updateFooterTotals();
            });

            // Footer update function
            function updateFooterTotals() {
                let totalOut = 0;
                let totalBalance = 0;

                $(".outward-qty").each(function () {
                    totalOut += parseFloat($(this).val()) || 0;
                });
                $(".balance-qty").each(function () {
                    totalBalance += parseFloat($(this).text()) || 0;
                });

                $(".footer-out-qty").text(totalOut.toFixed(3));
                $(".footer-balance").text(totalBalance.toFixed(3));
            }
        },
        error: function (xhr, status, error) {
            console.error("Error fetching cutting stock summary:", error);
            $("#purchaseTable thead, #purchaseTable tbody").empty();
            $("#purchaseTable tfoot").remove();
        }
    });
});


function storeTblValues() {
    const TableData = [];

    $('#purchaseTable tbody tr').each(function () {
        const $row = $(this);

        const size = $row.find('td:eq(0)').text().trim();
        const color = $row.find('td:eq(1)').text().trim();

        const prg_qty = parseFloat($row.find('td:eq(2)').text().trim()) || 0;

        const stock_qty = parseFloat($row.find('td:eq(3)').text().trim()) || 0;

        const quantity = parseFloat($row.find('td:eq(4) input').val()) || 0;

        // Fetch hidden values using .text() or data attributes
        const color_id = $row.find('.color_id').text().trim() || '';
        const size_id = $row.find('.size_id').text().trim() || '';
        const is_packing = $row.find('.is_packing').text().trim() || '';
     

        const isValid = quantity && size_id && color_id;

        // Optional validation — you can skip invalid rows
        // if (!isValid) return;

        TableData.push({
           
            quantity: quantity.toFixed(2),
            quality_id,
            style_id,
            size_id,
            color_id,
            is_packing,
        });
    });

    console.log("TABLE-DATA:", TableData);
    return TableData;
}


$('#add_new').on('submit', function(e) {
    e.preventDefault(); // Prevent default form submission
    console.log("Submit button clicked"); // Debugging

    var TableData = storeTblValues();
    console.log('tbl-data:', TableData);

    if (TableData.length === 0) {
        notifier.show(
            'Error!', 
            'Table is empty. Please insert the program details.', 
            'danger', 
            "{% static 'assets/images/notification/high_priority-48.png' %}", 
            4000
        ); 


        return;
    }

    if (confirm("Are you sure you want to save?")) {
        TableData = JSON.stringify(TableData); 
        var mdata = new FormData(this);
        mdata.append('chemical_data', TableData);
        var isPackingChecked = $('#is_packing').is(':checked') ? '1' : '0';
        mdata.append('is_packing', isPackingChecked);

        var do_no = $('#outward_no').val();
        mdata.append('do_number', do_no);
       

        $.ajax({
            type: "POST",  
            url: "/update-stiching-outward/", 
            data: mdata,
            processData: false,
            contentType: false,
            beforeSend: function() {
                console.log("Sending AJAX request...");
                $('#submit').attr('disabled', true).text('Processing...');
            },
             success: function(data) {
                console.log("Server Response:", data);
                $('#submit').attr('disabled', false).text('Save');
 
                if (data.status === 'success') {
                    notifier.show( 
                        'Well Done!', 
                        data.message || 'Added Successfully!', 
                        'success', 
                        "{% static 'assets/images/notification/ok-48.png' %}", 
                        4000
                    ); 


                    // $('#outward_no').val(data.do_number);
                    // $('#add_new').trigger('reset');
 
                    // location.href='/stiching-delivery';
                } else {
                    notifier.show(
                        'Error!', 
                        'Failed To add', 
                        'danger', 
                        "{% static 'assets/images/notification/high_priority-48.png' %}", 
                        4000
                    ); 
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log("AJAX Error:", textStatus, errorThrown);
                notifier.show(
                        'Error!', 
                        'Error adding data', 
                        'danger', 
                        "{% static 'assets/images/notification/high_priority-48.png' %}", 
                        4000
                    ); 
                // alert('Error Adding data');
                $('#submit').attr('disabled', false).text('Save');
            }
        }); 
    }
});



// `````````````````````````````````````````````````````````````````````````````





function LoadStyle() {
    var quality_id = $('#quality_id').val(); 
    console.log('Quality-ID:', quality_id); // Debugging output

    
    if (!quality_id) {
        console.warn("No Quality ID selected");
        return;
    }

    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();  // CSRF Token

    $.ajax({
        type: 'POST',
        url: '/get_quality_style_list/',
        data: {
            'quality_id': quality_id,
            'csrfmiddlewaretoken': csrfToken 
        },
        dataType: 'json',

        success: function(data) {
            console.log('Received Data:', data); // Debugging output

            // Clear and add default "Select" option
            $('#style_id').empty().append('<option value="">Select</option>');
            $('#size_id').empty().append('<option value="">Select</option>');
            // $('#color_id').empty().append('<option value="">Select Color</option>');

            // Populate Styles
            if (data.style && Array.isArray(data.style)) {
                data.style.forEach(function(item) {
                    $('#style_id').append('<option value="' + item.id + '">' + item.name + '</option>');
                });
            }

            if (data.size && Array.isArray(data.size)) {
                data.size.forEach(function(item) {
                    $('#size_id').append('<option value="' + item.id + '">' + item.name + '</option>');
                });
            }

          
        },

        error: function(xhr, status, error) {
            console.error('Error loading fabric details:', error);
        } 
    });
}


// ````````````````````````````````````````````
    $('.single-select').select2(); 

            // Get current date and time
    const currentDate = new Date();
    const currentDateString = currentDate.toISOString().slice(0, 10); // Format as YYYY-MM-DD
    const currentTimeString = currentDate.toTimeString().slice(0, 5); // Format as HH:MM

    // Set default values for date and time fields
    document.getElementById('outward_date').value = currentDateString;
    // document.getElementById('purchase_time').value = currentTimeString;


</script>